Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      http-server-fastify:
          flags:
              - http-server-fastify
      openapi:
          flags:
              - openapi
      health-checks:
          flags:
              - health-checks
      mongoose:
          flags:
              - mongoose
      messaging-amqp:
          flags:
              - messaging-amqp
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  http-server-fastify:
      paths:
          - packages/http-server-fastify
      carryforward: true
  openapi:
      paths:
          - packages/openapi
      carryforward: true
  health-checks:
      paths:
          - packages/health-checks
      carryforward: true
  mongoose:
      paths:
          - packages/mongoose
      carryforward: true
  messaging-amqp:
      paths:
          - packages/messaging-amqp
      carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

test: test multiple decorators on method
  packages/http-server/test/unit/decorators.test.ts
Due: http-server

feat(http-server): createRoutes method now handle multiple decorations
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

chore(release): publish [skip ci]
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express, http-server-fastify, openapi, health-checks

feat(http-server): controllers now support multiple decorations
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

fix: controller decorator allowMultiple: true
  packages/http-server/src/decorators/route.ts
Due: http-server

chore: added example createPartialEntity util
  examples/api-mongoose/src/lib/createPartialEntity.ts
Due: none

chore: added `api-entity-manipulation` example
  examples/api-entity-manipulation/README.md
  examples/api-entity-manipulation/package.json
  examples/api-entity-manipulation/src/api/customer/customer.controller.ts
  examples/api-entity-manipulation/src/api/customer/customer.schema.ts
  examples/api-entity-manipulation/src/api/customer/index.ts
  examples/api-entity-manipulation/src/index.ts
  examples/api-entity-manipulation/src/lib/createPartialEntity.ts
  examples/api-entity-manipulation/src/lib/createResourceListResponseEntity.ts
  examples/api-entity-manipulation/src/types.ts
  examples/api-entity-manipulation/tsconfig.json
  examples/api-entity-manipulation/tsconfig.release.json
Due: none

chore: added api-entity-manipulation example (#189)
  examples/api-entity-manipulation/README.md
  examples/api-entity-manipulation/package.json
  examples/api-entity-manipulation/src/api/customer/customer.controller.ts
  examples/api-entity-manipulation/src/api/customer/customer.schema.ts
  examples/api-entity-manipulation/src/api/customer/index.ts
  examples/api-entity-manipulation/src/index.ts
  examples/api-entity-manipulation/src/lib/createPartialEntity.ts
  examples/api-entity-manipulation/src/lib/createResourceListResponseEntity.ts
  examples/api-entity-manipulation/src/types.ts
  examples/api-entity-manipulation/tsconfig.json
  examples/api-entity-manipulation/tsconfig.release.json
Due: none

chore(release): publish [skip ci]
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
Due: none

chore: removed unneeded dependency
  packages/core/package-lock.json
  packages/core/package.json
Due: core

chore: removed console.log
  packages/openapi/src/OpenAPIModule.ts
Due: openapi

feat: entity definition json walker (#172)
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/JSONSchemaTraverser.ts
  packages/core/src/entity/types.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/core/test/unit/entity/JSONSchemaTraverser.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/openapi/src/OpenAPIModule.ts
Due: core, http-server, openapi

chore(release): publish [skip ci]
  examples/amqp/CHANGELOG.md
  examples/amqp/package-lock.json
  examples/amqp/package.json
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp

chore(api-manipulation-example): removed mongoose
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/src/api/customer/customer.schema.ts
Due: none

tests: added retry to amqp integration tests
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: messaging-amqp

chore(api-manipulation-example): removed mongoose (#190)
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/src/api/customer/customer.schema.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: messaging-amqp

chore(release): publish [skip ci]
  examples/amqp/CHANGELOG.md
  examples/amqp/package-lock.json
  examples/amqp/package.json
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
Due: messaging-amqp

fix: EntityDefinition now can traverse json schema keywords
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/index.ts
  packages/core/src/entity/json/JSONSchemaTraverser.ts
  packages/core/src/entity/json/transformEntityDefinitionSchema.ts
  packages/core/src/entity/json/types.ts
  packages/core/src/entity/types.ts
  packages/core/src/index.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/core/test/unit/entity/json/JSONSchemaTraverser.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: core, http-server, openapi

tests: additional tests
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

chore: improved examples
  examples/api-entity-manipulation/src/api/customer/customer.schema.ts
  examples/api-entity-manipulation/src/lib/createResourceListResponseEntity.ts
Due: none

tests: improving coverage
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

chore: added comments
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/json/JSONSchemaTraverser.ts
  packages/core/src/entity/json/transformEntityDefinitionSchema.ts
Due: core

fix(mongoose): removed 'type' nesting for schemas in array
  packages/mongoose/.mocharc.js
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/support/db.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

chore: removed redundant testing
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

fix(mongoose): removed 'type' nesting for schemas in array (#192)
  packages/mongoose/.mocharc.js
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/support/db.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

chore(release): publish [skip ci]
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: mongoose

fix: @populates() now correctly set the localField value
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

fix: @populates() now correctly set the localField value (#193)
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

fix: EntityDefinition now can traverse json schema keywords (#191)
  examples/api-entity-manipulation/src/api/customer/customer.schema.ts
  examples/api-entity-manipulation/src/lib/createResourceListResponseEntity.ts
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/index.ts
  packages/core/src/entity/json/JSONSchemaTraverser.ts
  packages/core/src/entity/json/transformEntityDefinitionSchema.ts
  packages/core/src/entity/json/types.ts
  packages/core/src/entity/types.ts
  packages/core/src/index.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/core/test/unit/entity/json/JSONSchemaTraverser.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: core, http-server, openapi

chore(release): publish [skip ci]
  examples/amqp/CHANGELOG.md
  examples/amqp/package-lock.json
  examples/amqp/package.json
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp

feat(entity): ability to disable type detection by passing false or null
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

feat(entity): ability to disable type detection by passing false or null (#194)
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

feat(httpInterceptor): added ability to specify stage: 'preValidation' | 'postValidation'
  packages/core/src/interceptor/decorator.ts
  packages/core/src/interceptor/interceptor.ts
  packages/core/src/interceptor/types.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core, http-server

feat(entity): added support for recursive schemas
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: core, http-server, openapi

test: fixed test
  packages/core/test/unit/entity/EntityRegistry.tests.ts
Due: core

feat(httpInterceptor): added ability to specify stage: 'preValidation' | 'postValidation' (#195)
  packages/core/src/interceptor/decorator.ts
  packages/core/src/interceptor/interceptor.ts
  packages/core/src/interceptor/types.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core, http-server

feat(entity): added support for recursive schemas (#196)
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: core, http-server, openapi
