Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, reflector

fix(fastify): missing dev dependencies #2
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
Due: http-server

fix(fastify): missing dev dependencies #3
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/package.json
Due: http-server, http-server-express

chore: added pre-release publish npm command
  package.json
Due: none

chore(release): publish [skip ci]
  examples/next-amqp/CHANGELOG.md
  examples/next-amqp/package-lock.json
  examples/next-amqp/package.json
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express

feat(openapi): added tags to OpenAPI document
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

feat(openapi): renamed tags and hidden props
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express

feat(migration): added migration guide
  website/docs/interceptors.md
  website/docs/migration-from-v1.md
  website/sidebars.js
Due: none

fix(mongoose): renamed to davinciContext, changed generateSchema behaviour
  packages/mongoose/src/generateModel.ts
  packages/mongoose/src/hooks.ts
  packages/mongoose/src/index.ts
  packages/mongoose/test/unit/generateModel.test.ts
  packages/mongoose/test/unit/hooks.test.ts
Due: none

fix(mongoose): renamed to davinciContext, changed generateSchema behaviour (#146)
  packages/mongoose/src/generateModel.ts
  packages/mongoose/src/hooks.ts
  packages/mongoose/src/index.ts
  packages/mongoose/test/unit/generateModel.test.ts
  packages/mongoose/test/unit/hooks.test.ts
Due: none

chore: reverted changes to changelogs
  examples/next-amqp/CHANGELOG.md
  examples/next-api-express/CHANGELOG.md
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-mongoose/CHANGELOG.md
  packages/health-checks/CHANGELOG.md
  packages/http-server-express/CHANGELOG.md
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server/CHANGELOG.md
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging/CHANGELOG.md
  packages/mongoose/CHANGELOG.md
  packages/openapi/CHANGELOG.md
  packages/reflector/CHANGELOG.md
Due: http-server, http-server-express, reflector

feat(CI): added logic to publish the `next` tag
  .circleci/config.yml
Due: none

feat(httpServer): contextFactory as module option
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/src/index.ts
  examples/next-api-mongoose/src/index.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
Due: http-server

fix: publish script
  .circleci/config.yml
Due: none

fix(openapi): dependency
  packages/openapi/package.json
Due: none

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: none

chore(release): publish [skip ci]
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: none

fix(healthChecks): allowing multiple decorators
  packages/health-checks/src/decorators/index.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/health-checks/test/unit/decorators.test.ts
Due: none

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
Due: none

fix(healthChecks): a method can be used for multiple checks
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: none

fix: test
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: none

chore: removed tests
  packages/http/test/support/boot/dbConnection.ts
  packages/http/test/support/boot/invalidBootScript.ts
  packages/http/test/support/certs.ts
  packages/http/test/support/createAppInstance.ts
  packages/http/test/support/env.ts
  packages/http/test/support/test.def.ts
Due: none

feat: from scratch: core, http, http-express
  packages/core/src/lib/async.ts
  packages/http-express/.eslintignore
  packages/http-express/.eslintrc
  packages/http-express/.nycrc
  packages/http-express/README.md
  packages/http-express/package-lock.json
  packages/http-express/package.json
  packages/http-express/src/ExpressHttpModule.ts
  packages/http-express/test/.eslintrc
  packages/http-express/test/mocha.opts
  packages/http-express/test/unit/ExpressHttpModule.test.ts
  packages/http-express/tsconfig.cjs.release.json
  packages/http-express/tsconfig.esm.release.json
  packages/http-express/tsconfig.json
  packages/http/.eslintignore
  packages/http/.eslintrc
  packages/http/.nycrc
  packages/http/README.md
  packages/http/package-lock.json
  packages/http/package.json
  packages/http/src/HttpModule.ts
  packages/http/src/index.ts
  packages/http/src/types.ts
  packages/http/test/.eslintrc
  packages/http/test/mocha.opts
  packages/http/test/support/boot/dbConnection.ts
  packages/http/test/support/boot/invalidBootScript.ts
  packages/http/test/support/certs.ts
  packages/http/test/support/createAppInstance.ts
  packages/http/test/support/env.ts
  packages/http/test/support/test.def.ts
  packages/http/tsconfig.cjs.release.json
  packages/http/tsconfig.esm.release.json
  packages/http/tsconfig.json
Due: core

feat: renamed HttpModule to HttpServerModule, ExpressHttpModule to ExpressHttpServer
  packages/http-express/.eslintignore
  packages/http-express/.eslintrc
  packages/http-express/.nycrc
  packages/http-express/README.md
  packages/http-express/package-lock.json
  packages/http-express/package.json
  packages/http-express/src/ExpressHttpModule.ts
  packages/http-express/test/.eslintrc
  packages/http-express/test/mocha.opts
  packages/http-express/test/unit/ExpressHttpModule.test.ts
  packages/http-express/tsconfig.cjs.release.json
  packages/http-express/tsconfig.esm.release.json
  packages/http-express/tsconfig.json
  packages/http/.eslintignore
  packages/http/.eslintrc
  packages/http/.nycrc
  packages/http/README.md
  packages/http/package-lock.json
  packages/http/package.json
  packages/http/src/HttpModule.ts
  packages/http/src/index.ts
  packages/http/src/types.ts
  packages/http/test/.eslintrc
  packages/http/test/mocha.opts
  packages/http/tsconfig.cjs.release.json
  packages/http/tsconfig.esm.release.json
  packages/http/tsconfig.json
Due: none

feat: missing core files
  packages/http/package.json
Due: none

feat: using modules identifiers
  packages/core/src/lib/async.ts
Due: core

feat(HttpServerModule): added decorators
  packages/reflector/package.json
Due: reflector

chore: removed @ts-ignore
  packages/core/test/unit/App.test.ts
Due: core

tests: fixed typo
  packages/core/test/unit/App.test.ts
Due: core

chore: added working api example using express
  examples/next-api-express/src/README.md
Due: none

feat(http-server-fastify): implemented basic working version
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/src/README.md
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  packages/http-server-fastify/package.json
Due: http-server

feat(interceptor): added the interceptor primitives
  packages/core/src/lib/interceptors.ts
  packages/core/test/unit/lib/interceptors.test.ts
Due: core

test: covering interceptor decorator
  packages/core/test/unit/interceptor/interceptors.test.ts
Due: core

refactor: onRegister phase + modules internal status field (#129)
  packages/core/test/unit/App.test.ts
Due: core

feat(interceptor): integrated interceptor with HttpServerModule
  packages/core/src/lib/interceptors.ts
  packages/core/test/unit/interceptor/interceptors.test.ts
Due: core

tests: contextFactory failure
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

Path conditions:
  core: any of: packages/core
  http-server: any of: packages/http-server
  http-server-express: any of: packages/http-server-express
  reflector: any of: packages/reflector
