Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

refactor: registerModule and registerController are now synchronous
  packages/core/test/unit/App.test.ts
Due: core

chore: fastify as dev dependency
  packages/http-server-fastify/package.json
Due: http-server

[next] feat: fastify http server (#127)
  examples/next-api-express/src/README.md
Due: none

feat(fastify): added ability to pass plugins
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/package.json
Due: core, http-server, http-server-express

chore: sync with feat/next-core-http branch
  packages/core/src/App.ts
  packages/health-checks/README.md
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: core

feat(logging): added logging options in App constructor
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  packages/core/src/App.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: core, http-server, http-server-express

feat(healthChecksModule): implemented health checks module
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/health-checks/README.md
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: core

fix: final cleanup
  packages/openapi/src/OpenAPIModule.ts
Due: none

chore: terminusOptions as optional
  packages/health-checks/src/HealthChecksModule.ts
Due: none

chore: using fatal logger level in App
  packages/core/src/App.ts
Due: core

chore: removed signal code from App
  packages/core/src/App.ts
Due: core

fix: tests
  packages/core/src/App.ts
Due: core

tests: increasing coverage
  packages/core/test/unit/App.test.ts
Due: core

[next] feat(lifecycle): added onRegister lifecycle hook for modules (#128)
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: core, http-server, http-server-express

feat(openapi): added ability to describe responses
  packages/openapi/src/OpenAPIModule.ts
Due: none

feat: avoid double shutdown using status prop
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: core, http-server, http-server-express

chore: README cleanup
  examples/next-api-fastify/src/README.md
Due: none

feat(openapi): exposing openapi document endpoint
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: core

chore: dependencies cleanup for examples #2
  examples/next-api-fastify/package-lock.json
Due: none

feat: allow passing terminus options
  packages/health-checks/src/HealthChecksModule.ts
Due: none

chore: dependencies cleanup for examples
  examples/next-api-fastify/package-lock.json
Due: none

refactor(mongoose): basic refactoring
  packages/core/src/lib/async-utils.ts
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/src/createMongooseController.ts
  packages/mongoose/src/decorators/index.ts
  packages/mongoose/src/decorators/types.ts
  packages/mongoose/src/generateModel.ts
  packages/mongoose/src/hooks.ts
  packages/mongoose/src/index.ts
  packages/mongoose/test/unit/MongooseController.test.ts
  packages/mongoose/test/unit/MongooseModule.test.ts
  packages/mongoose/test/unit/generateModel.test.ts
  packages/mongoose/test/unit/hooks.test.ts
  packages/reflector/test/unit/reflect.test.ts
Due: core, reflector

chore: rebased from next
  package-lock.json
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/reflector/package.json
  packages/reflector/test/unit/reflect.test.ts
Due: http-server, reflector

feat: added logging
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/src/createMongooseController.ts
  packages/mongoose/src/index.ts
Due: none

feat(reflector): implemented walker
  examples/next-api-mongoose/README.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  examples/next-api-mongoose/src/api/customer/customer.model.ts
  examples/next-api-mongoose/src/api/customer/customer.schema.ts
  packages/mongoose/package.json
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/src/decorators/index.ts
  packages/mongoose/src/decorators/types.ts
  packages/mongoose/src/generateModel.ts
  packages/reflector/package.json
  packages/reflector/src/walker.ts
  packages/reflector/test/unit/walker.tests.ts
Due: reflector

tests: increasing coverage
  packages/reflector/src/walker.ts
  packages/reflector/test/unit/walker.tests.ts
Due: reflector

chore(mongooseExample) added missing mongoose dependency
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
Due: none

chore(mongooseExample) bump @davinci/mongoose version
  examples/next-api-mongoose/package.json
Due: none

chore: cleanup
  packages/reflector/src/walker.ts
Due: reflector

feat(generateSchema): reverted to previous signature
  examples/next-api-mongoose/README.md
  examples/next-api-mongoose/src/api/customer/customer.model.ts
  examples/next-api-mongoose/src/api/customer/customer.schema.ts
  packages/mongoose/package-lock.json
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: none

feat(messagingAmqp): implemented basic AmqpModule version
  .circleci/config.yml
  examples/next-amqp/README.md
  examples/next-amqp/package.json
  examples/next-amqp/src/index.ts
  examples/next-amqp/src/interceptors/newrelic.ts
  examples/next-amqp/src/subscribers/customer/customer.subscriber.ts
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/decorators/index.ts
  packages/messaging-amqp/src/decorators/types.ts
  packages/messaging-amqp/src/index.ts
  packages/messaging-amqp/src/types.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: none

fix: rabbimq docker image name
  .circleci/config.yml
Due: none

chore: example cleanup
  examples/next-amqp/src/subscribers/customer/customer.subscriber.ts
Due: none

chore: added health-checks
  website/blog/2019-05-28-first-blog-post.md
  website/blog/2019-05-29-long-blog-post.md
  website/blog/2021-08-01-mdx-blog-post.mdx
  website/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  website/blog/2021-08-26-welcome/index.md
  website/blog/authors.yml
  website/docs/modules/health-checks/health-checks.md
  website/docs/modules/mongoose/mongoose.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/components/HomepageFeatures/index.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/src/pages/markdown-page.md
  website/static/img/docusaurus.png
  website/static/img/favicon.ico
  website/static/img/undraw_docusaurus_mountain.svg
  website/static/img/undraw_docusaurus_react.svg
  website/static/img/undraw_docusaurus_tree.svg
Due: none

chore: removed unneeded dependency and comment
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/messaging-amqp/src/AmqpModule.ts
Due: none

feat(amqp): added graceful shutdown strategies
  examples/next-amqp/src/index.ts
  examples/next-amqp/src/interceptors/newrelic.ts
  packages/core/src/lib/async-utils.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/types.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: core

fix: removed unneeded files
  packages/messaging-amqp/src/decorators/index.ts
  packages/messaging-amqp/src/decorators/types.ts
  packages/mongoose/test/unit/MongooseController.test.ts
Due: none

feat(amqp): added logic to reuse channels
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: none

chore: removing old examples
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/graphql/src/api/author/author.controller.ts
  examples/graphql/src/api/author/author.model.ts
  examples/graphql/src/api/author/author.schema.ts
  examples/graphql/src/api/book/book.controller.ts
  examples/graphql/src/api/book/book.model.ts
  examples/graphql/src/api/book/book.schema.ts
  examples/graphql/src/api/index.ts
  examples/graphql/src/boot/dbConnection.ts
  examples/graphql/src/index.ts
  examples/graphql/src/lib/schemaUtils.ts
  examples/graphql/src/types.ts
  examples/graphql/tsconfig.release.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest-custom-ajv/src/api/customer/customer.controller.ts
  examples/rest-custom-ajv/src/api/customer/customer.model.ts
  examples/rest-custom-ajv/src/api/customer/customer.schema.ts
  examples/rest-custom-ajv/src/api/customer/index.ts
  examples/rest-custom-ajv/src/boot/dbConnection.ts
  examples/rest-custom-ajv/src/index.ts
  examples/rest-custom-ajv/src/types.ts
  examples/rest-custom-ajv/tsconfig.json
  examples/rest-custom-ajv/tsconfig.release.json
Due: none
