Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql, mongoose, reflector

feat(http-server-fastify): implemented basic working version
  examples/next-api-fastify/src/README.md
Due: none

chore: terminusOptions as optional
  packages/health-checks/src/HealthChecksModule.ts
Due: none

[next] feat(lifecycle): added onRegister lifecycle hook for modules (#128)
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: none

chore: changes after rebasing
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/src/index.ts
  packages/health-checks/src/HealthChecksModule.ts
Due: none

feat: allow passing terminus options
  packages/health-checks/src/HealthChecksModule.ts
Due: none

feat: avoid double shutdown using status prop
  examples/next-api-express/package.json
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-fastify/package.json
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: none

chore: removed unneeded file
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
Due: none

fix: readme title
  packages/health-checks/README.md
Due: none

[next] feat: health checks (#126)
  examples/next-api-express/package.json
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/package.json
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/index.ts
  packages/health-checks/.eslintignore
  packages/health-checks/.eslintrc
  packages/health-checks/.nycrc
  packages/health-checks/README.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/decorators/index.ts
  packages/health-checks/src/index.ts
  packages/health-checks/test/.eslintrc
  packages/health-checks/test/mocha.opts
  packages/health-checks/test/support/chai.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/health-checks/test/unit/decorators.test.ts
  packages/health-checks/tsconfig.cjs.release.json
  packages/health-checks/tsconfig.esm.release.json
  packages/health-checks/tsconfig.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

ci: using concurrency 1 for tests stability
  .circleci/config.yml
Due: none

feat(httpServer): decorators for accessing native req and res
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/decorators/route.ts
  packages/http-server/src/types.ts
Due: none

tests: fixed tests
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

tests: increasing coverage
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/http-server/test/unit/decorators.test.ts
Due: none

[next] feat(httpServer): decorators for accessing native req and res (#132)
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/decorators/route.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/http-server/test/unit/decorators.test.ts
Due: none

BREAKING CHANGE: bump mongoose Bump mongoose v5 to v6
  package-lock.json
  package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/mongoose/src/generateModel.ts
Due: core, mongoose

fix: skipLibCheck to ignore mongoose types.d.ts error
  tsconfig.json
Due: none

chore: bump mongoose in examples
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/graphql/src/boot/dbConnection.ts
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest-custom-ajv/src/boot/dbConnection.ts
  examples/rest/package-lock.json
  examples/rest/package.json
  examples/rest/src/boot/dbConnection.ts
Due: none

chore: remove ts-ignore no longer needed
  packages/mongoose/src/generateModel.ts
Due: mongoose

chore: README cleanup
  examples/next-api-fastify/src/README.md
Due: none

refactor: extracted createJsonSchema function out
  packages/openapi/src/OpenAPIModule.ts
Due: none

feat(openapi): added ability to describe responses
  packages/http-server/package.json
  packages/http-server/src/decorators/types.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

chore: fastify as dev dependency
  packages/http-server-fastify/package.json
Due: none

feat(openapi): exposing openapi document endpoint
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/package.json
  examples/next-api-fastify/src/index.ts
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/decorators/types.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: core

chore: dependencies cleanup for examples #2
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
Due: none

fix(openapi): now supports array both root or nested
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

tests: removed skip
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

feat(logging): added logging options in App constructor
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  packages/core/src/App.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: core

feat(http-server-fastify): implemented basic working version
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-fastify/src/README.md
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  examples/next-api-fastify/src/index.ts
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: none

chore: removed @ts-ignore
  packages/core/test/unit/App.test.ts
Due: core

fix: tests
  packages/core/src/App.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: core

chore: removed signal code from App
  packages/core/src/App.ts
Due: core

feat: avoid double shutdown using status prop
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/package.json
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/index.ts
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: core

chore: removed logging
  packages/http-server/src/AjvValidator.ts
Due: none

feat: create OpenAPI doc, first working version
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/openapi/.eslintignore
  packages/openapi/.eslintrc
  packages/openapi/.nycrc
  packages/openapi/package-lock.json
  packages/openapi/package.json
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/test/.eslintrc
  packages/openapi/test/mocha.opts
  packages/openapi/test/support/chai.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
  packages/openapi/tsconfig.cjs.release.json
  packages/openapi/tsconfig.esm.release.json
  packages/openapi/tsconfig.json
Due: none

tests: fixed typo
  packages/core/test/unit/App.test.ts
Due: core

chore: removed comments
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: none

feat(fastify): added ability to pass plugins
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: core

feat(healthChecksModule): implemented health checks module
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/health-checks/README.md
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: core

Path conditions:
  core: any of: packages/core
  graphql: any of: packages/graphql
  mongoose: any of: packages/mongoose
  reflector: any of: packages/reflector
