Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

chore(release): publish [skip ci]
  examples/next-amqp/CHANGELOG.md
  examples/next-amqp/package-lock.json
  examples/next-amqp/package.json
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express

feat(OpenAPI): added logic for generating or providing operationId
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

feat(OpenAPI): added logic for generating or providing operationId (#149)
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: none

feat(Amqp): provide ability to inject ChannelManager in controllers
  examples/next-amqp/src/subscribers/customer/customer.subscriber.ts
  packages/core/src/App.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server/src/HttpServerModule.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/ChannelManager.ts
  packages/messaging-amqp/src/index.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: core, http-server

test: removed skip
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: none

feat(docs): added previous 0.x documentation
  website/docs/getting-started.md
  website/docusaurus.config.js
  website/static/0.x/images/basics/swagger-ui/swagger-ui-screenshot.png
  website/versioned_docs/version-0.x/basics/context.md
  website/versioned_docs/version-0.x/basics/controllers.md
  website/versioned_docs/version-0.x/basics/directory-structure.md
  website/versioned_docs/version-0.x/basics/getting-started.md
  website/versioned_docs/version-0.x/basics/openapi-definitions.md
  website/versioned_docs/version-0.x/basics/swagger-ui.md
  website/versioned_docs/version-0.x/database/mongoose.md
  website/versioned_docs/version-0.x/graphql/controllers.md
  website/versioned_docs/version-0.x/graphql/getting-started.md
  website/versioned_sidebars/version-0.x-sidebars.json
  website/versions.json
Due: none

chore(docs): wiring CI
  .circleci/config.yml
  docs/deploy.sh
  docs/docusaurus.config.js
Due: none

chore(docs): using node 16
  .circleci/config.yml
Due: none

chore(docs): using node 16.18.1
  .circleci/config.yml
Due: none

chore(docs): stashing before switching branch
  docs/deploy.sh
Due: none

chore(docs): added checkout --ours to solve conflicts
  docs/deploy.sh
Due: none

chore(docs): added checkout --ours to solve conflicts #2
  docs/deploy.sh
Due: none

fix(fastify): allow passing existing fastify instance
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: http-server

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server

fix(OpenAPI): routes with no parameters are now correctly registered
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

test: app shutdown
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

fix(OpenAPI): routes with no parameters are now correctly registered (#152)
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

forcing github pages build
  docs/index.html
Due: none

fix(OpenAPI): safe controllerDecoratorMetadata access
  packages/openapi/src/OpenAPIModule.ts
Due: none

Update Docs [skip ci]
  docs/index.html
Due: none

chore(gh-pages): resolving conflicts using 'theirs'
  docs/deploy.sh
Due: none

Update Docs [skip ci]
  docs/404.html
  docs/build/404.html
  docs/build/index.html
  docs/build/sitemap.xml
  docs/index.html
  docs/sitemap.xml
Due: none

fix: OpenAPI doc content-type + walker utils parameter
  examples/next-api-mongoose/src/lib/createPartialEntity.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/reflector/src/walker.ts
Due: reflector

chore(docs): now using npm package 'gh-pages' for deploying
  docs/deploy.sh
  docs/package-lock.json
Due: none

Update Docs [skip ci]
  404.html
  assets/js/048fd039.89873d6b.js
  assets/js/2f5e14c8.75218149.js
  assets/js/335a8d53.1b6dc525.js
  assets/js/51e00ea2.306a12f7.js
  assets/js/9cdd1aed.f1b788c7.js
  assets/js/9cdd1aed.fc258f33.js
  assets/js/main.1f6ee081.js
  assets/js/main.1f6ee081.js.LICENSE.txt
  assets/js/main.91064080.js
  assets/js/runtime~main.4106dd60.js
  assets/js/runtime~main.43d16b61.js
  docs/0.x/basics/context.html
  docs/0.x/basics/controllers.html
  docs/0.x/basics/directory-structure.html
  docs/0.x/basics/getting-started.html
  docs/0.x/basics/openapi-definitions.html
  docs/0.x/basics/swagger-ui.html
  docs/0.x/database/mongoose.html
  docs/0.x/graphql/controllers.html
  docs/0.x/graphql/getting-started.html
  docs/2.0.0/basics/directory-structure.html
  docs/2.0.0/getting-started.html
  docs/2.0.0/graphql/controllers.html
  docs/2.0.0/graphql/getting-started.html
  docs/2.0.0/interceptors.html
  docs/2.0.0/intro.html
  docs/2.0.0/migration-from-v1.html
  docs/2.0.0/modules.html
  docs/2.0.0/modules/health-checks.html
  docs/2.0.0/modules/http-server/context.html
  docs/2.0.0/modules/http-server/controllers.html
  docs/2.0.0/modules/http-server/express.html
  docs/2.0.0/modules/http-server/fastify.html
  docs/2.0.0/modules/http-server/intro.html
  docs/2.0.0/modules/mongoose.html
  docs/2.0.0/modules/openapi.html
  index.html
Due: none

feat(httpServer): added ability to register global interceptors
  examples/next-api-mongoose/src/index.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/openapi/src/OpenAPIModule.ts
Due: http-server, http-server-express

chore(logging): now consistent across modules
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/src/types.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/test/unit/MongooseModule.test.ts
  packages/openapi/src/OpenAPIModule.ts
Due: http-server, http-server-express

[next] feat(httpServer): added ability to register global interceptors (#153)
  examples/next-api-mongoose/src/index.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/test/unit/MongooseModule.test.ts
  packages/openapi/src/OpenAPIModule.ts
Due: http-server, http-server-express
