Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

feat: missing core files
  packages/http/package.json
Due: none

[next] feat: fastify http server (#127)
  examples/next-api-express/src/README.md
Due: none

refactor: onRegister phase + modules internal status field (#129)
  packages/core/test/unit/App.test.ts
Due: core

feat(interceptor): integrated interceptor with HttpServerModule
  packages/core/src/lib/interceptors.ts
  packages/core/test/unit/interceptor/interceptors.test.ts
Due: core

feat(interceptor): added the interceptor primitives
  packages/core/src/lib/interceptors.ts
  packages/core/test/unit/lib/interceptors.test.ts
Due: core

chore: removed @ts-ignore
  packages/core/test/unit/App.test.ts
Due: core

refactor: registerModule and registerController are now synchronous
  packages/core/test/unit/App.test.ts
Due: core

tests: contextFactory failure
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

test: covering interceptor decorator
  packages/core/test/unit/interceptor/interceptors.test.ts
Due: core

tests: fixed typo
  packages/core/test/unit/App.test.ts
Due: core

chore: added working api example using express
  examples/next-api-express/src/README.md
Due: none

feat(http-server-fastify): implemented basic working version
  examples/next-api-fastify/src/README.md
  examples/next-api-fastify/src/api/customer/customer.schema.ts
Due: none

feat(fastify): added ability to pass plugins
  packages/core/src/Module.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: core, http-server, http-server-express

feat(logging): added logging options in App constructor
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: http-server, http-server-express

chore: README cleanup
  examples/next-api-fastify/src/README.md
Due: none

feat(healthChecksModule): implemented health checks module
  packages/core/src/Module.ts
  packages/health-checks/README.md
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: core

feat: avoid double shutdown using status prop
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: core, http-server, http-server-express

tests: increasing coverage
  packages/core/test/unit/App.test.ts
Due: core

chore: terminusOptions as optional
  packages/health-checks/src/HealthChecksModule.ts
Due: none

feat: allow passing terminus options
  packages/health-checks/src/HealthChecksModule.ts
Due: none

[next] feat(lifecycle): added onRegister lifecycle hook for modules (#128)
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: core, http-server, http-server-express

feat(openapi): exposing openapi document endpoint
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: core

chore: sync with feat/next-core-http branch
  packages/health-checks/README.md
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: none

refactor(mongoose): basic refactoring
  packages/mongoose/src/createMongooseController.ts
  packages/mongoose/test/unit/MongooseController.test.ts
  packages/reflector/test/unit/reflect.test.ts
Due: reflector

chore: rebased from next
  package-lock.json
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/reflector/test/unit/reflect.test.ts
Due: http-server, reflector

feat: added logging
  packages/mongoose/src/createMongooseController.ts
Due: none

feat(messagingAmqp): implemented basic AmqpModule version
  packages/messaging-amqp/src/decorators/index.ts
  packages/messaging-amqp/src/decorators/types.ts
Due: none

chore: updated readme
  examples/next-amqp/README.md
Due: none

chore: renamed decorators to camelCase
  packages/messaging-amqp/src/decorators/index.ts
Due: none

feat(DI): installed tsyringe, started using di
  packages/core/package.json
  packages/core/src/index.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server/src/HttpServerModule.ts
  packages/messaging-amqp/src/AmqpModule.ts
Due: core, http-server

chore: reverted some changes after rebasing
  packages/messaging-amqp/src/decorators/index.ts
  packages/messaging-amqp/src/decorators/types.ts
  packages/mongoose/test/unit/MongooseController.test.ts
Due: none

feat(DI): adopted tsyringe as DI container (#147)
  examples/next-amqp/README.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server/src/HttpServerModule.ts
  packages/messaging-amqp/src/AmqpModule.ts
Due: core, http-server

refactor(validation): first attempt to untie ajv
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

chore(release): publish [skip ci]
  examples/next-amqp/CHANGELOG.md
  examples/next-amqp/package-lock.json
  examples/next-amqp/package.json
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express

feat(validation): Ajv as default validator
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  packages/core/src/di.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/index.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/index.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  website/docs/modules/http-server/express.md
  website/docs/modules/http-server/fastify.md
Due: core, http-server, http-server-express

feat: strict check when passing single Ajv instance
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

fix(HttpServerModule): using DI container for injecting EntityRegistry
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

fix: clearing DI after each test
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

chore: removed comments, renamed to validationFactory
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
Due: http-server

refactor: next validation (#148)
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  packages/core/src/di.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/index.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/index.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  website/docs/modules/http-server/express.md
  website/docs/modules/http-server/fastify.md
Due: core, http-server, http-server-express
