Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp, reflector

feat(typeFactory): implemented typeFactory
  examples/api-express/openapi.json
  examples/api-express/src/api/customer/customer.schema.ts
  examples/api-express/src/api/customer/order.schema.ts
  examples/api-express/test/integration/Customer.tests.ts
  examples/api-fastify/src/api/customer/customer.schema.ts
  examples/api-fastify/src/api/customer/order.schema.ts
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/types.ts
  packages/core/src/index.ts
  packages/core/test/support/data/AuthorSchema.ts
  packages/core/test/support/data/BookSchema.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
Due: core

feat(typeFactory): allow for schemas with circular dependencies (#227)
  examples/api-express/openapi.json
  examples/api-express/src/api/customer/customer.schema.ts
  examples/api-express/src/api/customer/order.schema.ts
  examples/api-express/test/integration/Customer.tests.ts
  examples/api-fastify/src/api/customer/customer.schema.ts
  examples/api-fastify/src/api/customer/order.schema.ts
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/types.ts
  packages/core/src/index.ts
  packages/core/test/support/data/AuthorSchema.ts
  packages/core/test/support/data/BookSchema.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
Due: core

chore(release): publish [skip ci]
  examples/amqp/CHANGELOG.md
  examples/amqp/package-lock.json
  examples/amqp/package.json
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp

fix: do not filter null if nullable
  packages/core/src/entity/EntityDefinition.ts
Due: core

test: add test
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

fix: tests
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

feat(reflector): updated to @plumier/reflect@1.1.3
  packages/reflector/package-lock.json
  packages/reflector/package.json
Due: reflector

chore(circleci): refactored to be able to use both old circle and new cimg images
  .circleci/config.yml
Due: none

chore: removed nodejs 20 as it causes errors with lerna
  .circleci/config.yml
Due: none

feat(docs): upgraded dependencies
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Due: none

feat(reflector): updated to @plumier/reflect@1.1.3 (#230)
  .circleci/config.yml
  packages/reflector/package-lock.json
  packages/reflector/package.json
Due: reflector

feat(docs): upgraded dependencies (#231)
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Due: none

Looking for security issues in your CI. Please ignore :) . (rqibik)
  docs/deploy.sh
  docs/package.json
  examples/amqp/package.json
  examples/api-entity-manipulation/package.json
  examples/api-express/package.json
  examples/api-fastify/package.json
  examples/api-mongoose/package.json
  package.json
  packages/core/package.json
  packages/health-checks/package.json
  packages/http-server-express/package.json
  packages/http-server-fastify/package.json
  packages/http-server/package.json
  packages/messaging-amqp/package.json
  packages/messaging/package.json
  packages/mongoose/package.json
  packages/openapi/package.json
  packages/reflector/package.json
Due: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp, reflector

chore: allow mongoose 7
  packages/mongoose/package.json
Due: mongoose

chore: update package-lock
  packages/mongoose/package-lock.json
Due: mongoose

fix: manual package bump for example-next-amqp
  examples/amqp/package-lock.json
  examples/amqp/package.json
Due: none

Revert "fix: manual package bump for example-next-amqp"
  examples/amqp/package-lock.json
  examples/amqp/package.json
Due: none

fix: dummy change to force bump
  examples/amqp/README.md
Due: none

fix: fetch git tags before publish to avoid cache issues
  .circleci/config.yml
Due: none

fix: fetch tags step wasn't working
  .circleci/config.yml
Due: none

fix: re-trigger pipeline
  examples/amqp/README.md
Due: none

fix: retrigger pipeline
  examples/amqp/README.md
Due: none

Update README.md
  examples/amqp/README.md
Due: none

fix: trigger mongoose release
  packages/mongoose/README.md
Due: mongoose

chore(release): publish [skip ci]
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: mongoose

feat(hono): implemented HonoHttpServer module
  packages/core/src/App.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server-hono/.eslintignore
  packages/http-server-hono/.eslintrc
  packages/http-server-hono/.mocharc.js
  packages/http-server-hono/.npmignore
  packages/http-server-hono/.nycrc
  packages/http-server-hono/README.md
  packages/http-server-hono/package-lock.json
  packages/http-server-hono/package.json
  packages/http-server-hono/src/HonoHttpServer.ts
  packages/http-server-hono/src/index.ts
  packages/http-server-hono/test/.eslintrc
  packages/http-server-hono/test/support/chai.ts
  packages/http-server-hono/test/tsconfig.json
  packages/http-server-hono/test/unit/HonoHttpServer.test.ts
  packages/http-server-hono/tsconfig.cjs.release.json
  packages/http-server-hono/tsconfig.esm.release.json
  packages/http-server-hono/tsconfig.json
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/index.ts
  packages/http-server/src/types.ts
  packages/openapi/src/OpenAPIModule.ts
Due: core, http-server, http-server-fastify, openapi

chore: cleanup
  packages/http-server-hono/src/HonoHttpServer.ts
  packages/http-server-hono/src/fetch-polyfill.ts
  packages/http-server-hono/test/unit/HonoHttpServer.test.ts
Due: http-server

chore(polyfill): for node < 18
  packages/http-server-hono/package-lock.json
  packages/http-server-hono/package.json
  packages/http-server-hono/src/fetch-polyfill.ts
  packages/http-server-hono/src/index.ts
Due: http-server

chore(hono): added example
  examples/amqp/package-lock.json
  examples/api-entity-manipulation/package-lock.json
  examples/api-express/package-lock.json
  examples/api-fastify/package-lock.json
  examples/api-hono/.mocharc.js
  examples/api-hono/README.md
  examples/api-hono/package-lock.json
  examples/api-hono/package.json
  examples/api-hono/src/api/customer/customer.controller.ts
  examples/api-hono/src/api/customer/customer.schema.ts
  examples/api-hono/src/api/customer/index.ts
  examples/api-hono/src/api/customer/order.schema.ts
  examples/api-hono/src/app.ts
  examples/api-hono/src/entry-edge.ts
  examples/api-hono/src/entry-lambda.ts
  examples/api-hono/src/entry-node.ts
  examples/api-hono/src/interceptors/logInterceptor.ts
  examples/api-hono/src/types.ts
  examples/api-hono/test/.eslintrc
  examples/api-hono/test/integration/Customer.tests.ts
  examples/api-hono/test/support/chai.ts
  examples/api-hono/tsconfig.json
  examples/api-hono/tsconfig.release.json
  examples/api-mongoose/package-lock.json
  packages/http-server-hono/src/HonoHttpServer.ts
Due: http-server

chore: codecov configuration
  codecov.yml
Due: none

chore(hono): added docs
  docs/versioned_docs/version-2.x/modules/http-server/hono.md
  docs/versioned_sidebars/version-2.x-sidebars.json
  packages/http-server-hono/README.md
  packages/http-server-hono/src/HonoHttpServer.ts
  packages/http-server-hono/test/unit/HonoHttpServer.test.ts
Due: http-server

feat(injectHttpRequest): include cookies in response
  packages/http-server-hono/src/HonoHttpServer.ts
Due: http-server

tests: fix
  packages/http-server-hono/test/unit/HonoHttpServer.test.ts
Due: http-server

docs: updated example
  docs/versioned_docs/version-2.x/modules/http-server/hono.md
Due: none

fix: safely call getSetCookie
  packages/http-server-hono/src/HonoHttpServer.ts
Due: http-server

Path conditions:
  core: any of: packages/core
  http-server: any of: packages/http-server
  http-server-express: any of: packages/http-server-express
  http-server-fastify: any of: packages/http-server-fastify
  openapi: any of: packages/openapi
  health-checks: any of: packages/health-checks
  mongoose: any of: packages/mongoose
  messaging-amqp: any of: packages/messaging-amqp
  reflector: any of: packages/reflector
