Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql, mongoose, reflector

feat: App extends Module
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
Due: core

feat: renamed HttpModule to HttpServerModule, ExpressHttpModule to ExpressHttpServer
  packages/http-express/package-lock.json
  packages/http-server-express/.eslintignore
  packages/http-server-express/.eslintrc
  packages/http-server-express/.nycrc
  packages/http-server-express/README.md
  packages/http-server-express/package.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/.eslintrc
  packages/http-server-express/test/mocha.opts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-express/tsconfig.cjs.release.json
  packages/http-server-express/tsconfig.esm.release.json
  packages/http-server-express/tsconfig.json
  packages/http-server/.eslintignore
  packages/http-server/.eslintrc
  packages/http-server/.nycrc
  packages/http-server/README.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/index.ts
  packages/http-server/src/types.ts
  packages/http-server/test/.eslintrc
  packages/http-server/test/mocha.opts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/http-server/tsconfig.cjs.release.json
  packages/http-server/tsconfig.esm.release.json
  packages/http-server/tsconfig.json
Due: none

feat: using modules identifiers
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/src/index.ts
  packages/core/src/lib/array-utils.ts
  packages/core/src/lib/async-utils.ts
  packages/core/test/unit/App.test.ts
  packages/core/test/unit/lib/async.test.ts
Due: core

chore: added working api example using express
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-express/src/README.md
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-express/src/api/customer/index.ts
  examples/next-api-express/src/index.ts
  examples/next-api-express/src/types.ts
  examples/next-api-express/tsconfig.json
  examples/next-api-express/tsconfig.release.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/src/index.ts
Due: none

chore(reflector): use root typescript
  packages/reflector/package.json
Due: reflector

feat: missing core files
  packages/core/.eslintignore
  packages/core/.eslintrc
  packages/core/.nycrc
  packages/core/test/.eslintrc
  packages/core/test/mocha.opts
  packages/core/tsconfig.cjs.release.json
  packages/core/tsconfig.esm.release.json
  packages/core/tsconfig.json
  packages/http/package.json
Due: core

fix: tests
  packages/core/test/unit/App.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core

chore: bootstrap ignore examples
  package.json
Due: none

fix: removed package-lock.json
  packages/core/package-lock.json
  packages/http-server/package-lock.json
Due: core

chore: package-lock files
  package-lock.json
  packages/core/package-lock.json
  packages/http-server-express/package-lock.json
  packages/http-server/package-lock.json
Due: core

chore(httpServer): enabled tests
  packages/http-server/package.json
Due: none

test(ExpressHttpServer): added createRoutes test
  examples/next/src/rest-express/api/customer/customer.schema.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
Due: none

feat(HttpServerModule): added decorators
  packages/http-server/package.json
  packages/http-server/src/decorators/index.ts
  packages/http-server/src/decorators/route.ts
  packages/http-server/src/decorators/types.ts
  packages/http-server/src/index.ts
  packages/http-server/test/unit/decorators.test.ts
  packages/reflector/package-lock.json
  packages/reflector/package.json
  packages/reflector/src/reflect.ts
  packages/reflector/tsconfig.release.json
Due: reflector

feat(App): added registerModule and registerController
  packages/core/package.json
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/http-server-express/package.json
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server/src/HttpServerModule.ts
Due: core

feat(reflector): using @plumier/reflector
  packages/reflector/.eslintrc
  packages/reflector/README.md
  packages/reflector/package-lock.json
  packages/reflector/package.json
  packages/reflector/src/index.ts
  packages/reflector/src/reflect.ts
  packages/reflector/test/unit/reflect.test.ts
Due: reflector

chore: removed tests
  packages/http/test/support/boot/dbConnection.ts
  packages/http/test/support/boot/invalidBootScript.ts
  packages/http/test/support/certs.ts
  packages/http/test/support/createAppInstance.ts
  packages/http/test/support/env.ts
  packages/http/test/support/test.def.ts
Due: none

refactor: moved createRequestHandler and createRoutes up to the HttpServer
  examples/next-api-express/package-lock.json
  examples/next-api-express/src/api/customer/customer.controller.ts
  package-lock.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server/src/HttpServerModule.ts
Due: none

feat: restored branch
  examples/next/package.json
  examples/next/src/rest-express/api/customer/customer.schema.ts
  package-lock.json
  packages/core/.eslintignore
  packages/core/.eslintrc
  packages/core/.nycrc
  packages/core/test/.eslintrc
  packages/core/test/mocha.opts
  packages/core/tsconfig.cjs.release.json
  packages/core/tsconfig.esm.release.json
  packages/core/tsconfig.json
  packages/reflector/src/shared-types.ts
  packages/reflector/test/mocha.opts
  packages/reflector/tsconfig.json
Due: core, reflector

feat(interceptor): added the interceptor primitives
  package-lock.json
  package.json
  packages/core/src/lib/interceptors.ts
  packages/core/test/support/chai.ts
  packages/core/test/unit/lib/interceptors.test.ts
Due: core

chore: added missing shared-types, tests, tsconfig
  .prettierrc
  package.json
  packages/reflector/src/reflect.ts
  packages/reflector/src/shared-types.ts
  packages/reflector/test/mocha.opts
  packages/reflector/tsconfig.json
  packages/reflector/tsconfig.release.json
Due: reflector

fix(reflector): rolling back package.json changes
  package.json
Due: none

chore: renamed example package name
  examples/next/package-lock.json
  examples/next/package.json
Due: none

chore: ignoring example packages
  package.json
Due: none

chore(release): publish [skip ci]
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/CHANGELOG.md
  examples/rest/package-lock.json
  examples/rest/package.json
Due: none

fix: use latest createRouter in examples and update doc
  docs/guide/README.md
  docs/guide/basics/context.md
  docs/guide/basics/swagger-ui.md
  examples/rest/src/index.ts
Due: none

feat(expressHttpServer): implemented logic to create a response handler
  package-lock.json
  package.json
  packages/core/src/App.ts
  packages/core/test/unit/App.test.ts
  packages/http-server-express/package-lock.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/decorators/index.ts
  packages/http-server/src/decorators/route.ts
  packages/http-server/src/decorators/types.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/decorators.test.ts
  packages/reflector/src/reflect.ts
Due: core, reflector

Path conditions:
  core: any of: packages/core
  graphql: any of: packages/graphql
  mongoose: any of: packages/mongoose
  reflector: any of: packages/reflector
