Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql, mongoose, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      reflector:
        flags:
          - reflector
      mongoose:
        flags:
          - mongoose
      graphql:
        flags:
          - graphql

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  graphql:
    paths:
      - packages/graphql
    carryforward: true
  mongoose:
    paths:
      - packages/mongoose
    carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

fix: fixed tests
  packages/core/src/route/createRouter.ts
  packages/core/test/unit/route/createRouter.test.ts
Due: core

fix: davinciHandler now is a named function
  packages/core/src/route/createRouter.ts
Due: core

fix: update lerna
  package-lock.json
  package.json
Due: none

fix: update nyc
  package-lock.json
  package.json
Due: none

fix: update mongoose
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/package-lock.json
  examples/rest/package.json
  packages/core/package.json
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: core, mongoose

fix: update swagger-ui-dist
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/package-lock.json
  examples/rest/package.json
Due: none

fix: update webpack-dev-server
  package-lock.json
Due: none

fix: bump mongoose
  package-lock.json
  package.json
Due: none

chore(release): publish [skip ci]
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/CHANGELOG.md
  examples/rest/package-lock.json
  examples/rest/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package-lock.json
  packages/graphql/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: core, graphql, mongoose

chore: bump acorn
  package-lock.json
Due: none

chore: bump lodash
  package-lock.json
Due: none

chore: bump elliptic
  package-lock.json
Due: none

chore: bump ssri
  package-lock.json
Due: none

chore: bump y18n
  package-lock.json
Due: none

fix: virtual as property decorator
  packages/mongoose/src/decorators/index.ts
Due: mongoose

test: mongoose virtual as property
  packages/mongoose/test/unit/decorators/index.test.ts
Due: mongoose

chore(release): publish [skip ci]
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/CHANGELOG.md
  examples/rest/package-lock.json
  examples/rest/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: mongoose

chore: bump url-parse & node-fetch
  package-lock.json
Due: none

chore(deps): bump follow-redirects
  package-lock.json
Due: none

fix: use latest createRouter in examples and update doc
  docs/guide/README.md
  docs/guide/basics/context.md
  docs/guide/basics/swagger-ui.md
  examples/rest/src/index.ts
  packages/core/src/route/createRouter.ts
  packages/core/test/support/createAppInstance.ts
  packages/core/test/unit/route/createRouter.test.ts
Due: core

fix: test
  packages/core/test/unit/route/createRouter.test.ts
Due: core

fix: typo
  packages/core/src/route/createRouter.ts
Due: core

feat: delay ajv instantiation
  packages/core/src/route/createRouter.ts
Due: core

fix: tests
  packages/core/src/route/createRouter.ts
  packages/core/test/unit/route/createRouter.test.ts
Due: core

chore: pass parameter directly
  packages/core/src/route/createRouter.ts
Due: core

fix: include parameter in cache
  packages/core/src/route/createRouter.ts
  packages/core/test/unit/route/createRouter.test.ts
Due: core

chore: single stringify
  packages/core/src/route/createRouter.ts
Due: core

fix: ajv custom instance parameters
  packages/core/src/route/createRouter.ts
Due: core

fix: cache key to include definitions
  packages/core/src/route/createRouter.ts
Due: core

revert: no need to include definitions (schemas should not share same name)
  packages/core/src/route/createRouter.ts
Due: core

fix: added nullish check
  packages/core/src/route/createRouter.ts
  packages/core/src/route/openapi/createPaths.ts
Due: core

fix: added correct single populate type
  packages/mongoose/src/createMongooseController.ts
Due: mongoose

fix: createMongooseController now produces definitions with prefixed names
  packages/core/src/route/createRouter.ts
  packages/core/src/route/decorators/route.ts
  packages/core/src/route/openapi/createPaths.ts
  packages/core/test/unit/route/decorators/route.test.ts
  packages/mongoose/src/createMongooseController.ts
Due: core, mongoose
