Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp, reflector

fix(EntityDefinition): correct handling of members with non-class explicit types
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

feat(edge): avoid using nodejs modules when not necessary
  packages/http-server/src/HttpServerModule.ts
  packages/openapi/.mocharc.js
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
  packages/openapi/tsconfig.cjs.release.json
  packages/openapi/tsconfig.esm.release.json
Due: http-server, openapi

chore: consolidated joinPaths logic
  packages/http-server/src/HttpServerModule.ts
  packages/openapi/src/OpenAPIModule.ts
Due: http-server, openapi

chore(release): publish [skip ci]
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-hono/CHANGELOG.md
  examples/api-hono/package-lock.json
  examples/api-hono/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server-hono/CHANGELOG.md
  packages/http-server-hono/package-lock.json
  packages/http-server-hono/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express, http-server-fastify, openapi, health-checks

feat: empty body default to empty object
  packages/http-server/src/HttpServerModule.ts
Due: http-server

fix: update tests
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

feat: allow specifying custom formats for date fields
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

fix: add missing params in afterWrite hook
  packages/mongoose/src/hooks.ts
Due: mongoose

feat: dd findByIdAndUpdate test on mongoose component
  packages/mongoose/test/unit/hooks.test.ts
Due: mongoose

fix: removed node 14 support
  .circleci/config.yml
Due: none

feat(mongoose): add support for nested properties with name "type"
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

feat: remove support for node 14
  .circleci/config.yml
Due: none

test: add test for default values for arrays
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

chore: update mongo and node versions for ci
  .circleci/config.yml
Due: none

feat: make required option work for arrays
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

fix: mongo images for ci
  .circleci/config.yml
Due: none

fix: use latest mongo and node for ci
  .circleci/config.yml
Due: none

fix: fix tests
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

Update .circleci/config.yml
  .circleci/config.yml
Due: none

fix: undo commit
  .circleci/config.yml
Due: none

fix: node version add lts and remove patch numbers
  .circleci/config.yml
Due: none

chore(release): publish [skip ci]
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: mongoose

feat: allow mongoose 8
  packages/mongoose/package.json
  packages/mongoose/src/hooks.ts
Due: mongoose

chore: update package-lock in mongoose
  packages/mongoose/package-lock.json
Due: mongoose

Path conditions:
  core: any of: packages/core
  http-server: any of: packages/http-server
  http-server-express: any of: packages/http-server-express
  http-server-fastify: any of: packages/http-server-fastify
  openapi: any of: packages/openapi
  health-checks: any of: packages/health-checks
  mongoose: any of: packages/mongoose
  messaging-amqp: any of: packages/messaging-amqp
  reflector: any of: packages/reflector
