Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql, mongoose, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      reflector:
        flags:
          - reflector
      mongoose:
        flags:
          - mongoose
      graphql:
        flags:
          - graphql

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  graphql:
    paths:
      - packages/graphql
    carryforward: true
  mongoose:
    paths:
      - packages/mongoose
    carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

tests: fixed typo
  packages/core/test/unit/App.test.ts
Due: core

feat(entityPropDecorator): added support for specifying jsonSchema fields
  examples/next-api-express/src/api/customer/customer.schema.ts
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/decorators.ts
  packages/core/src/entity/types.ts
  packages/core/src/lib/object-utils.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/core/test/unit/entity/entity.tests.ts
  packages/core/test/unit/lib/object-utils.tests.ts
Due: core

test: increasing coverage
  packages/http-server/src/httpErrors.ts
  packages/http-server/src/index.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/http-server/test/unit/httpErrors.test.ts
Due: none

test: fixed AjvValidator test
  packages/http-server/test/unit/AjvValidator.test.ts
Due: none

test: increasing coverage
  packages/core/src/lib/object-utils.ts
  packages/core/test/unit/lib/object-utils.tests.ts
Due: core

test: increasing coverage #2
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/types.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/core/test/unit/entity/entity.tests.ts
Due: core

feat: entities and validation (#125)
  .eslintrc
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-express/src/api/customer/customer.schema.ts
  package-lock.json
  package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/decorators.ts
  packages/core/src/entity/index.ts
  packages/core/src/entity/jsonSchemaTypes.ts
  packages/core/src/entity/types.ts
  packages/core/src/index.ts
  packages/core/src/lib/async-utils.ts
  packages/core/src/lib/object-utils.ts
  packages/core/test/unit/App.test.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/core/test/unit/entity/entity.tests.ts
  packages/core/test/unit/lib/async.test.ts
  packages/core/test/unit/lib/object-utils.tests.ts
  packages/http-server-express/package.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/support/chai.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/httpErrors.ts
  packages/http-server/src/types.ts
  packages/http-server/test/support/chai.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/http-server/test/unit/decorators.test.ts
  packages/http-server/test/unit/httpErrors.test.ts
  packages/reflector/src/reflect.ts
  packages/reflector/test/support/chai.ts
  packages/reflector/test/unit/reflect.test.ts
Due: core, reflector

chore: removed @ts-ignore
  packages/core/test/unit/App.test.ts
Due: core

feat(http-server-fastify): implemented basic working version
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-fastify/src/README.md
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  examples/next-api-fastify/src/api/customer/index.ts
  examples/next-api-fastify/src/index.ts
  examples/next-api-fastify/src/types.ts
  examples/next-api-fastify/tsconfig.json
  examples/next-api-fastify/tsconfig.release.json
  packages/http-server-fastify/.eslintignore
  packages/http-server-fastify/.eslintrc
  packages/http-server-fastify/.nycrc
  packages/http-server-fastify/README.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/src/index.ts
  packages/http-server-fastify/test/.eslintrc
  packages/http-server-fastify/test/mocha.opts
  packages/http-server-fastify/test/support/chai.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server-fastify/tsconfig.cjs.release.json
  packages/http-server-fastify/tsconfig.esm.release.json
  packages/http-server-fastify/tsconfig.json
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  tsconfig.json
Due: none

feat(logging): added logging options in App constructor
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  packages/core/src/App.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: core

fix: tests
  packages/core/src/App.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: core

chore: using fatal logger level in App
  packages/core/src/App.ts
Due: core

chore: fastify as dev dependency
  packages/http-server-fastify/package.json
Due: none

feat(fastify): added ability to pass plugins
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
Due: core

chore: removed support for nodejs 12
  .circleci/config.yml
Due: none

chore: dependencies cleanup for examples
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
Due: none

chore: dependencies cleanup for examples #2
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
Due: none

chore: README cleanup
  examples/next-api-express/README.md
  examples/next-api-fastify/README.md
  examples/next-api-fastify/src/README.md
Due: none

chore: removed comments
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: none

chore: removed signal code from App
  packages/core/src/App.ts
Due: core

feat(healthChecksModule): implemented health checks module
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/health-checks/.eslintignore
  packages/health-checks/.eslintrc
  packages/health-checks/.nycrc
  packages/health-checks/README.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/decorators/index.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/.eslintrc
  packages/health-checks/test/mocha.opts
  packages/health-checks/test/support/chai.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/health-checks/test/unit/decorators.test.ts
  packages/health-checks/tsconfig.cjs.release.json
  packages/health-checks/tsconfig.esm.release.json
  packages/health-checks/tsconfig.json
Due: core

feat: avoid double shutdown using status prop
  examples/next-api-express/package.json
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/package.json
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/index.ts
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: core

feat: allow passing terminus options
  packages/health-checks/src/HealthChecksModule.ts
Due: none

tests: increasing coverage #2
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

tests: increasing coverage
  packages/core/test/unit/App.test.ts
Due: core

chore: terminusOptions as optional
  packages/health-checks/src/HealthChecksModule.ts
Due: none

feat(lifecycle): added onRegister lifecycle hook for modules
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: core

fix: fixed tests
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

test: wait for registration complete
  packages/core/test/unit/App.test.ts
Due: core

feat: allow customize app logger name
  packages/core/src/App.ts
Due: core

[next] feat: fastify http server (#127)
  .circleci/config.yml
  examples/next-api-express/README.md
  examples/next-api-express/package-lock.json
  examples/next-api-fastify/README.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  examples/next-api-fastify/src/api/customer/index.ts
  examples/next-api-fastify/src/index.ts
  examples/next-api-fastify/src/types.ts
  examples/next-api-fastify/tsconfig.json
  examples/next-api-fastify/tsconfig.release.json
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/.eslintignore
  packages/http-server-fastify/.eslintrc
  packages/http-server-fastify/.nycrc
  packages/http-server-fastify/README.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/src/index.ts
  packages/http-server-fastify/test/.eslintrc
  packages/http-server-fastify/test/mocha.opts
  packages/http-server-fastify/test/support/chai.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server-fastify/tsconfig.cjs.release.json
  packages/http-server-fastify/tsconfig.esm.release.json
  packages/http-server-fastify/tsconfig.json
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  tsconfig.json
Due: core

refactor: now modules have an internal status field
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/src/index.ts
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/core/test/unit/Module.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core

chore: renamed variable for clarity
  packages/core/src/App.ts
Due: core

refactor: onRegister phase + modules internal status field (#129)
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/src/index.ts
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/core/test/unit/Module.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core

chore: README cleanup
  examples/next-api-fastify/src/README.md
Due: none

feat(healthChecksModule): implemented health checks module
  packages/health-checks/.eslintignore
  packages/health-checks/.eslintrc
  packages/health-checks/.nycrc
  packages/health-checks/README.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/decorators/index.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/.eslintrc
  packages/health-checks/test/mocha.opts
  packages/health-checks/test/support/chai.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/health-checks/test/unit/decorators.test.ts
  packages/health-checks/tsconfig.cjs.release.json
  packages/health-checks/tsconfig.esm.release.json
  packages/health-checks/tsconfig.json
Due: none
