Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql, mongoose, reflector

[next] feat(lifecycle): added onRegister lifecycle hook for modules (#128)
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core

tests: increasing coverage
  packages/core/test/unit/App.test.ts
Due: core

chore: sync with feat/next-core-http branch
  packages/core/src/App.ts
  packages/health-checks/README.md
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: core

feat(AjvValidator): added support for array types
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: none

fix(AjvValidator): now supports array both root or nested
  packages/http-server/src/AjvValidator.ts
Due: none

chore: dependencies cleanup for examples
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
Due: none

tests: increasing coverage
  packages/http-server/test/unit/AjvValidator.test.ts
Due: none

feat(openapi): added swagger UI
  examples/next-api-express/package.json
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/src/index.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/openapi/package-lock.json
  packages/openapi/package.json
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/swaggerUi.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

chore: using fatal logger level in App
  packages/core/src/App.ts
Due: core

fix(openapi): fixed type after rebasing
  packages/openapi/src/OpenAPIModule.ts
Due: none

fix: rename context to davinciCtx
  packages/mongoose/src/createMongooseController.ts
  packages/mongoose/src/hooks.ts
  packages/mongoose/test/unit/hooks.test.ts
Due: mongoose

chore: update examples with new davinciCtx
  examples/graphql/src/api/book/book.controller.ts
  examples/graphql/src/api/book/book.model.ts
  examples/rest-custom-ajv/src/api/customer/customer.model.ts
  examples/rest/src/api/customer/customer.model.ts
Due: none

fix: missing davinciCtx changes in examples
  examples/graphql/src/api/author/author.model.ts
Due: none

refactor(EntityDefinition): using unified entityDefinitionsMapCache map
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: core

refactor(AjvValidator): simplified createJsonSchema conditions
  packages/http-server/src/AjvValidator.ts
Due: none

tests: increasing coverage
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

chore: document spec is a required parameter
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

fix: final cleanup
  packages/openapi/src/OpenAPIModule.ts
Due: none

[next] feat: openapi (#131)
  examples/next-api-express/package.json
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/package.json
  examples/next-api-fastify/src/index.ts
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/decorators/types.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/openapi/.eslintignore
  packages/openapi/.eslintrc
  packages/openapi/.nycrc
  packages/openapi/package-lock.json
  packages/openapi/package.json
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/src/swaggerUi.ts
  packages/openapi/test/.eslintrc
  packages/openapi/test/mocha.opts
  packages/openapi/test/support/chai.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
  packages/openapi/tsconfig.cjs.release.json
  packages/openapi/tsconfig.esm.release.json
  packages/openapi/tsconfig.json
Due: core

chore: change davinciCtx for davinciContext
  examples/graphql/src/api/author/author.controller.ts
  examples/graphql/src/api/author/author.model.ts
  examples/graphql/src/api/book/book.controller.ts
  examples/graphql/src/api/book/book.model.ts
  examples/rest-custom-ajv/src/api/customer/customer.controller.ts
  examples/rest-custom-ajv/src/api/customer/customer.model.ts
  examples/rest/src/api/customer/customer.controller.ts
  examples/rest/src/api/customer/customer.model.ts
  packages/core/test/support/MongooseController.ts
  packages/core/test/unit/express/decorators/context.test.ts
  packages/core/test/unit/route/openapi/createPaths.test.ts
  packages/mongoose/src/createMongooseController.ts
  packages/mongoose/src/hooks.ts
  packages/mongoose/test/unit/hooks.test.ts
Due: core, mongoose

chore(release): publish [skip ci]
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/CHANGELOG.md
  examples/rest/package-lock.json
  examples/rest/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package-lock.json
  packages/graphql/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: core, graphql, mongoose

feat: from scratch: core, http, http-express
  packages/core/src/lib/async.ts
  packages/http-express/.eslintignore
  packages/http-express/.eslintrc
  packages/http-express/.nycrc
  packages/http-express/README.md
  packages/http-express/package-lock.json
  packages/http-express/package.json
  packages/http-express/src/ExpressHttpModule.ts
  packages/http-express/test/.eslintrc
  packages/http-express/test/mocha.opts
  packages/http-express/test/unit/ExpressHttpModule.test.ts
  packages/http-express/tsconfig.cjs.release.json
  packages/http-express/tsconfig.esm.release.json
  packages/http-express/tsconfig.json
  packages/http/.eslintignore
  packages/http/.eslintrc
  packages/http/.nycrc
  packages/http/README.md
  packages/http/package-lock.json
  packages/http/package.json
  packages/http/src/HttpModule.ts
  packages/http/src/index.ts
  packages/http/src/types.ts
  packages/http/test/.eslintrc
  packages/http/test/mocha.opts
  packages/http/test/support/boot/dbConnection.ts
  packages/http/test/support/boot/invalidBootScript.ts
  packages/http/test/support/certs.ts
  packages/http/test/support/createAppInstance.ts
  packages/http/test/support/env.ts
  packages/http/test/support/test.def.ts
  packages/http/tsconfig.cjs.release.json
  packages/http/tsconfig.esm.release.json
  packages/http/tsconfig.json
Due: core

feat: using modules identifiers
  packages/core/src/lib/async.ts
Due: core

chore: removed tests
  packages/http/test/support/boot/dbConnection.ts
  packages/http/test/support/boot/invalidBootScript.ts
  packages/http/test/support/certs.ts
  packages/http/test/support/createAppInstance.ts
  packages/http/test/support/env.ts
  packages/http/test/support/test.def.ts
Due: none

feat: missing core files
  packages/http/package.json
Due: none

feat: renamed HttpModule to HttpServerModule, ExpressHttpModule to ExpressHttpServer
  packages/http-express/.eslintignore
  packages/http-express/.eslintrc
  packages/http-express/.nycrc
  packages/http-express/README.md
  packages/http-express/package-lock.json
  packages/http-express/package.json
  packages/http-express/src/ExpressHttpModule.ts
  packages/http-express/test/.eslintrc
  packages/http-express/test/mocha.opts
  packages/http-express/test/unit/ExpressHttpModule.test.ts
  packages/http-express/tsconfig.cjs.release.json
  packages/http-express/tsconfig.esm.release.json
  packages/http-express/tsconfig.json
  packages/http/.eslintignore
  packages/http/.eslintrc
  packages/http/.nycrc
  packages/http/README.md
  packages/http/package-lock.json
  packages/http/package.json
  packages/http/src/HttpModule.ts
  packages/http/src/index.ts
  packages/http/src/types.ts
  packages/http/test/.eslintrc
  packages/http/test/mocha.opts
  packages/http/tsconfig.cjs.release.json
  packages/http/tsconfig.esm.release.json
  packages/http/tsconfig.json
Due: none

feat(HttpServerModule): added decorators
  packages/reflector/package.json
Due: reflector

chore: added working api example using express
  examples/next-api-express/src/README.md
Due: none

feat(interceptor): added the interceptor primitives
  packages/core/src/lib/interceptors.ts
  packages/core/test/unit/lib/interceptors.test.ts
Due: core

feat(interceptor): integrated interceptor with HttpServerModule
  packages/core/src/lib/interceptors.ts
  packages/core/test/unit/interceptor/interceptors.test.ts
Due: core

refactor: registerModule and registerController are now synchronous
  packages/core/test/unit/App.test.ts
Due: core

test: covering interceptor decorator
  packages/core/test/unit/interceptor/interceptors.test.ts
Due: core

tests: contextFactory failure
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

[next] feat: fastify http server (#127)
  examples/next-api-express/src/README.md
Due: none

refactor: onRegister phase + modules internal status field (#129)
  packages/core/test/unit/App.test.ts
Due: core

tests: fixed typo
  packages/core/test/unit/App.test.ts
Due: core

chore: removed @ts-ignore
  packages/core/test/unit/App.test.ts
Due: core

feat(http-server-fastify): implemented basic working version
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/src/README.md
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  packages/http-server-fastify/package.json
Due: none

Path conditions:
  core: any of: packages/core
  graphql: any of: packages/graphql
  mongoose: any of: packages/mongoose
  reflector: any of: packages/reflector
