Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql, mongoose, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      reflector:
        flags:
          - reflector
      mongoose:
        flags:
          - mongoose
      graphql:
        flags:
          - graphql

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  graphql:
    paths:
      - packages/graphql
    carryforward: true
  mongoose:
    paths:
      - packages/mongoose
    carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

feat: renamed HttpModule to HttpServerModule, ExpressHttpModule to ExpressHttpServer
  packages/http-express/package-lock.json
  packages/http-server-express/.eslintignore
  packages/http-server-express/.eslintrc
  packages/http-server-express/.nycrc
  packages/http-server-express/README.md
  packages/http-server-express/package.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/.eslintrc
  packages/http-server-express/test/mocha.opts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-express/tsconfig.cjs.release.json
  packages/http-server-express/tsconfig.esm.release.json
  packages/http-server-express/tsconfig.json
  packages/http-server/.eslintignore
  packages/http-server/.eslintrc
  packages/http-server/.nycrc
  packages/http-server/README.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/index.ts
  packages/http-server/src/types.ts
  packages/http-server/test/.eslintrc
  packages/http-server/test/mocha.opts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/http-server/tsconfig.cjs.release.json
  packages/http-server/tsconfig.esm.release.json
  packages/http-server/tsconfig.json
Due: none

chore: added working api example using express
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-express/src/README.md
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-express/src/api/customer/index.ts
  examples/next-api-express/src/index.ts
  examples/next-api-express/src/types.ts
  examples/next-api-express/tsconfig.json
  examples/next-api-express/tsconfig.release.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/src/index.ts
Due: none

chore: removed tests
  packages/http/test/support/boot/dbConnection.ts
  packages/http/test/support/boot/invalidBootScript.ts
  packages/http/test/support/certs.ts
  packages/http/test/support/createAppInstance.ts
  packages/http/test/support/env.ts
  packages/http/test/support/test.def.ts
Due: none

chore(reflector): use root typescript
  packages/reflector/package.json
Due: reflector

fix: removed package-lock.json
  packages/core/package-lock.json
  packages/http-server/package-lock.json
Due: core

chore(httpServer): enabled tests
  packages/http-server/package.json
Due: none

feat: missing core files
  packages/core/.eslintignore
  packages/core/.eslintrc
  packages/core/.nycrc
  packages/core/test/.eslintrc
  packages/core/test/mocha.opts
  packages/core/tsconfig.cjs.release.json
  packages/core/tsconfig.esm.release.json
  packages/core/tsconfig.json
  packages/http/package.json
Due: core

feat: added 3 examples
  examples/next/src/rest-express/api/customer/customer.schema.ts
  examples/rest/CHANGELOG.md
  examples/rest/package-lock.json
  examples/rest/package.json
  examples/rest/src/api/customer/customer.controller.ts
  examples/rest/src/api/customer/customer.model.ts
  examples/rest/src/api/customer/index.ts
  examples/rest/src/boot/dbConnection.ts
  examples/rest/src/index.ts
  examples/rest/src/types.ts
  examples/rest/tsconfig.json
  examples/rest/tsconfig.release.json
Due: none

feat(interceptor): integrated interceptor with HttpServerModule
  examples/next-api-express/src/api/customer/customer.controller.ts
  packages/core/src/interceptor/decorator.ts
  packages/core/src/interceptor/index.ts
  packages/core/src/interceptor/interceptor.ts
  packages/core/src/interceptor/types.ts
  packages/core/src/lib/interceptors.ts
  packages/core/test/unit/interceptor/interceptors.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core

refactor: removed onRegister hook to simplify lifecycle
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
Due: core

test(HttpServerModule): added tests for createRoutes and createRequestHandler
  packages/core/src/App.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core

refactor: registerModule and registerController are now synchronous
  packages/core/test/unit/App.test.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
Due: core

test: additional createRequestHandler test
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

chore: codecov setup
  .circleci/config.yml
  codecov.yml
Due: none

test: increasing core coverage
  packages/core/test/unit/App.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
Due: core

test: covering interceptor decorator
  packages/core/test/unit/interceptor/interceptor.test.ts
Due: core

chore: trigger ci
  README.md
Due: none

tests: further ExpressHttpServer testing
  packages/core/test/unit/interceptor/interceptor.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server/src/decorators/route.ts
  packages/http-server/src/decorators/types.ts
Due: core

feat(Context): context support for HttpServerModule
  packages/core/src/context/context.ts
  packages/core/src/context/index.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core

feat(Context): injecting context in interceptor functions
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-express/src/index.ts
  packages/core/src/interceptor/decorator.ts
  packages/core/src/interceptor/interceptor.ts
  packages/core/src/interceptor/types.ts
  packages/core/test/unit/interceptor/interceptor.test.ts
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/http-server/src/HttpServerModule.ts
Due: core

tests: context injection in interceptors
  packages/core/src/interceptor/types.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core

chore: removed pretest scripts
  packages/core/package.json
  packages/http-server-express/package.json
  packages/http-server/package.json
  packages/reflector/package.json
Due: core, reflector

chore: refined context example
  examples/next-api-express/src/index.ts
Due: none

tests: context decorator
  packages/core/test/unit/context/context.ts
Due: core

tests: contextFactory failure
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

fix: allow estimated doc count for mongoose find
  packages/mongoose/src/config.ts
  packages/mongoose/src/createMongooseController.ts
Due: mongoose

fix: remove unused where
  packages/mongoose/src/createMongooseController.ts
Due: mongoose

BREAKING CHANGE: now using the estimated document count by default
  packages/mongoose/src/config.ts
  packages/mongoose/src/createMongooseController.ts
Due: mongoose

feat: introduced useEstimatedDocumentCount parameter
  packages/mongoose/src/createMongooseController.ts
Due: mongoose

fix: make useEstimatedDocumentCount optional
  packages/mongoose/src/createMongooseController.ts
Due: mongoose

chore: add documentation
  packages/mongoose/src/createMongooseController.ts
Due: mongoose

chore(release): publish [skip ci]
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/CHANGELOG.md
  examples/rest/package-lock.json
  examples/rest/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: mongoose

feat: passing reflection info to createContext
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

feat(entity): added entity decorators + basic jsonSchema generation
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-express/src/api/customer/customer.schema.ts
  package-lock.json
  package.json
  packages/core/package-lock.json
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/decorators.ts
  packages/core/src/entity/index.ts
  packages/core/src/entity/jsonSchemaTypes.ts
  packages/core/src/entity/types.ts
  packages/core/src/index.ts
  packages/core/src/lib/object-utils.ts
  packages/core/test/support/chai.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/core/test/unit/entity/entity.tests.ts
  packages/core/test/unit/lib/object-utils.tests.ts
  packages/http-server-express/package.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server/src/HttpServerModule.ts
  packages/reflector/src/reflect.ts
Due: core, reflector

feat: preparing HttpServer modules to be wired with Entities
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/index.ts
  packages/core/src/lib/async-utils.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
Due: core

feat(ajvValidator): introduced validation
  .eslintrc
  examples/next-api-express/src/api/customer/customer.controller.ts
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/jsonSchemaTypes.ts
  packages/core/src/index.ts
  packages/core/src/lib/object-utils.ts
  packages/core/test/unit/lib/object-utils.tests.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/support/chai.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/httpErrors.ts
  packages/http-server/src/types.ts
  packages/http-server/test/support/chai.ts
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core

feat(refactor): EntityRegistry now holds just proper entities
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/types.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: core

test: additional HttpServerModule tests
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: none

test: removed should.js in favour of chai
  package-lock.json
  package.json
  packages/core/test/unit/App.test.ts
  packages/core/test/unit/lib/async.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/http-server/test/unit/decorators.test.ts
  packages/reflector/test/support/chai.ts
  packages/reflector/test/unit/reflect.test.ts
Due: core, reflector

chore: removed @ts-ignore
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/test/unit/App.test.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/httpErrors.ts
Due: core
