Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      http-server-fastify:
          flags:
              - http-server-fastify
      openapi:
          flags:
              - openapi
      health-checks:
          flags:
              - health-checks
      mongoose:
          flags:
              - mongoose
      messaging-amqp:
          flags:
              - messaging-amqp
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  http-server-fastify:
      paths:
          - packages/http-server-fastify
      carryforward: true
  openapi:
      paths:
          - packages/openapi
      carryforward: true
  health-checks:
      paths:
          - packages/health-checks
      carryforward: true
  mongoose:
      paths:
          - packages/mongoose
      carryforward: true
  messaging-amqp:
      paths:
          - packages/messaging-amqp
      carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

chore(release): publish [skip ci]
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-fastify, openapi, health-checks

feat: fastify accepts an instance factory
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: http-server, http-server-fastify

feat(httpServer): implemented exposeStack flag
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

feat(httpServer): implemented exposeStack flag (#207)
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

chore(release): publish [skip ci]
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express, http-server-fastify, openapi, health-checks

feat: allow to pass fastify instance or factory
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: http-server, http-server-fastify

feat: allow to pass express instance or factory
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
Due: http-server, http-server-express

chore: removed ts-ignore
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
Due: http-server, http-server-express

chore: remove ts-ignore
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: http-server, http-server-fastify

chore(release): publish [skip ci]
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express, http-server-fastify, openapi, health-checks

chore: covecov yml indentation
  codecov.yml
Due: none

chore: covecov yml indentation #2
  codecov.yml
Due: none

chore(tsconfig): packages: not including tests, examples: added rootDir
  examples/amqp/tsconfig.json
  examples/api-entity-manipulation/tsconfig.json
  examples/api-express/tsconfig.json
  examples/api-fastify/tsconfig.json
  examples/api-mongoose/tsconfig.json
  packages/core/tsconfig.json
  packages/health-checks/tsconfig.json
  packages/http-server-express/tsconfig.json
  packages/http-server-fastify/tsconfig.json
  packages/http-server/tsconfig.json
  packages/messaging-amqp/tsconfig.json
  packages/messaging/tsconfig.json
  packages/mongoose/tsconfig.json
  packages/openapi/tsconfig.json
  packages/reflector/tsconfig.json
Due: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp, reflector

fix(httpServer): return error.toJSON() details in response
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

chore: improved examples
  examples/api-express/src/api/customer/customer.controller.ts
  examples/api-express/src/api/customer/customer.schema.ts
  examples/api-express/src/index.ts
  examples/api-express/test/integration/Customer.tests.ts
  examples/api-fastify/src/api/customer/customer.controller.ts
  examples/api-fastify/src/api/customer/customer.schema.ts
  examples/api-fastify/src/index.ts
  examples/api-fastify/test/integration/Customer.tests.ts
Due: none

fix(openapi): unneeded nesting in querystring parameters
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: openapi

fix(openapi): unneeded nesting in querystring parameters (#208)
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: openapi

chore(release): publish [skip ci]
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: openapi

refactor: moved to a more generic app local variables concept
  docs/versioned_docs/version-2.x/local-variables.md
  docs/versioned_sidebars/version-2.x-sidebars.json
  examples/api-express/test/integration/Customer.tests.ts
  examples/api-fastify/test/integration/Customer.tests.ts
  packages/core/src/App.ts
  packages/core/src/types.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/index.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core, http-server, http-server-express, http-server-fastify

docs: added section on how to access the variables
  docs/versioned_docs/version-2.x/local-variables.md
Due: none

feat: merge generateSchema custom and default options
  packages/mongoose/src/generateModel.ts
Due: mongoose

fix: refactor to avoid passing opts to subschemas
  packages/mongoose/src/generateModel.ts
Due: mongoose

test: added test
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

fix: use deepmerge
  packages/mongoose/src/generateModel.ts
Due: mongoose

fix: use defaults if no options
  packages/mongoose/src/generateModel.ts
Due: mongoose

fix: use default if no options
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

chore(release): publish [skip ci]
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: mongoose

fix: allow to have async contextFactory
  packages/http-server/src/types.ts
Due: http-server

fix: add hidden to MethodDecoratorOptions
  packages/http-server/src/decorators/types.ts
Due: http-server

feat(openapi): added the ability to write the OpenAPI spec to a file in the local filesystem
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: openapi

fix: added path join with cwd(), added example
  examples/api-express/openapi.json
  examples/api-express/src/index.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: openapi

chore: reusing assigned variable
  packages/openapi/src/OpenAPIModule.ts
Due: openapi

feat(openapi): added the ability to write the OpenAPI spec to a file in the local filesystem (#226)
  examples/api-express/openapi.json
  examples/api-express/src/index.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: openapi
