Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      http-server-fastify:
          flags:
              - http-server-fastify
      openapi:
          flags:
              - openapi
      health-checks:
          flags:
              - health-checks
      mongoose:
          flags:
              - mongoose
      messaging-amqp:
          flags:
              - messaging-amqp
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  http-server-fastify:
      paths:
          - packages/http-server-fastify
      carryforward: true
  openapi:
      paths:
          - packages/openapi
      carryforward: true
  health-checks:
      paths:
          - packages/health-checks
      carryforward: true
  mongoose:
      paths:
          - packages/mongoose
      carryforward: true
  messaging-amqp:
      paths:
          - packages/messaging-amqp
      carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

chore(release): publish [skip ci]
  examples/amqp/CHANGELOG.md
  examples/amqp/package-lock.json
  examples/amqp/package.json
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp

feat: added entity manipulation examples (WIP)
  examples/api-entity-manipulation/.mocharc.js
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-entity-manipulation/src/api/customer/customer.controller.ts
  examples/api-entity-manipulation/src/api/customer/customer.model.ts
  examples/api-entity-manipulation/src/api/customer/customer.schema.ts
  examples/api-entity-manipulation/src/index.ts
  examples/api-entity-manipulation/src/lib/createPartialEntity.ts
  examples/api-entity-manipulation/src/lib/entity/createPartialSchema.ts
  examples/api-entity-manipulation/src/lib/entity/createQuerySchema.ts
  examples/api-entity-manipulation/src/lib/entity/createResourceListResponseSchema.ts
  examples/api-entity-manipulation/src/lib/entity/entityManipulationUtils.ts
  examples/api-entity-manipulation/test/.eslintrc
  examples/api-entity-manipulation/test/support/chai.ts
  examples/api-entity-manipulation/test/support/entityUtils.ts
  examples/api-entity-manipulation/test/unit/lib/entity/createPartialSchema.tests.ts
  examples/api-entity-manipulation/test/unit/lib/entity/createQuerySchema.tests.ts
  examples/api-entity-manipulation/test/unit/lib/entity/createResourceListResponseSchema.tests.ts
Due: none

feat: started implementation to generate query schemas
  examples/api-entity-manipulation/src/api/customer/customer.schema.ts
  examples/api-entity-manipulation/src/lib/entity/createQuerySchema.ts
  examples/api-entity-manipulation/test/unit/lib/entity/createQuerySchema.tests.ts
  examples/api-entity-manipulation/test/unit/lib/entity/createResourceListResponseSchema.tests.ts
Due: none

feat: allow to pass ts enums as property types and as values for the entity.prop enum option
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/json/types.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

fix: move enum transform logic to transformEntityDefinitionSchema
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

feat: support nested required properties in objects
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

feat: enums work nested and with complex types
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

refactor: changed the enum manipulation to be immutable
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

fix: add entity prop description for intellisense
  packages/core/src/entity/json/types.ts
Due: core

chore(docs): add complex populate example in the docs
  docs/docs/modules/mongoose/mongoose.md
Due: none

chore(core): stricter types definition
  packages/core/src/App.ts
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/json/JSONSchemaTraverser.ts
  packages/core/src/entity/json/transformEntityDefinitionSchema.ts
  packages/core/src/entity/types.ts
  packages/core/src/interceptor/decorator.ts
  packages/core/src/interceptor/types.ts
  packages/core/src/lib/async-utils.ts
  packages/core/src/lib/object-utils.ts
  tsconfig.json
Due: core

chore(http-server): stricter types definition
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/interceptor/interceptor.ts
  packages/core/src/interceptor/types.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/decorators/types.ts
  packages/http-server/src/httpErrors.ts
  packages/http-server/src/types.ts
Due: core, http-server

chore(core): fixed test types
  packages/core/.eslintrc
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/interceptor/interceptor.ts
  packages/core/src/interceptor/types.ts
  packages/core/src/lib/object-utils.ts
  packages/core/test/.eslintrc
  packages/core/test/tsconfig.json
  packages/core/test/unit/interceptor/interceptor.test.ts
  packages/core/test/unit/lib/object-utils.tests.ts
  packages/core/tsconfig.json
Due: core

chore(http-server, fastify, express, health-checks, openapi): stricter types definition
  .eslintrc
  examples/api-fastify/src/interceptors/logInterceptor.ts
  examples/api-fastify/tsconfig.json
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/decorators/types.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/tsconfig.cjs.release.json
  packages/reflector/.eslintrc
Due: http-server, http-server-express, http-server-fastify, openapi, health-checks, reflector

chore(http-server): fixed test types
  packages/http-server/.eslintrc
  packages/http-server/test/.eslintrc
  packages/http-server/test/tsconfig.json
  packages/http-server/test/unit/AjvValidator.test.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/http-server/tsconfig.json
Due: http-server

chore(core): fixed object-utils types
  packages/core/src/lib/object-utils.ts
Due: core

chore(fastify, express, messaging, messaging-amqp): fixed test types
  packages/core/src/lib/object-utils.ts
  packages/http-server-express/.eslintrc
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/mocha.opts
  packages/http-server-express/test/tsconfig.json
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-express/tsconfig.json
  packages/http-server-fastify/.eslintrc
  packages/http-server-fastify/test/.eslintrc
  packages/http-server-fastify/test/mocha.opts
  packages/http-server-fastify/test/tsconfig.json
  packages/http-server-fastify/tsconfig.json
  packages/messaging-amqp/.eslintrc
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/ChannelManager.ts
  packages/messaging-amqp/src/types.ts
  packages/messaging-amqp/test/.eslintrc
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
  packages/messaging-amqp/test/tsconfig.json
  packages/messaging-amqp/tsconfig.json
  packages/messaging/.eslintrc
  packages/messaging/test/.eslintrc
  packages/messaging/test/tsconfig.json
  packages/messaging/tsconfig.json
Due: core, http-server, http-server-express, http-server-fastify, messaging-amqp

chore(mongoose): stricter types definition (WIP)
  packages/mongoose/.eslintrc
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/src/decorators/index.ts
  packages/mongoose/src/generateModel.ts
  packages/mongoose/src/hooks.ts
  packages/mongoose/test/.eslintrc
  packages/mongoose/test/tsconfig.json
  packages/mongoose/test/unit/generateModel.test.ts
  packages/mongoose/tsconfig.json
Due: mongoose

chore(openapi): .eslintrc and tsconfig.json files
  packages/openapi/.eslintrc
  packages/openapi/test/.eslintrc
  packages/openapi/test/tsconfig.json
  packages/openapi/tsconfig.esm.release.json
  packages/openapi/tsconfig.json
Due: openapi

chore(health-checks): .eslintrc and tsconfig.json files
  packages/health-checks/.eslintrc
  packages/health-checks/test/tsconfig.json
  packages/health-checks/tsconfig.json
  packages/reflector/test/.eslintrc
  packages/reflector/test/tsconfig.json
Due: health-checks, reflector

refactor: Interceptor types and generics
  packages/core/src/interceptor/interceptor.ts
  packages/core/src/interceptor/types.ts
  packages/http-server/src/types.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/types.ts
Due: core, http-server, messaging-amqp

fix(http-server): AjvPluginOptions type
  examples/amqp/src/subscribers/customer/customer.subscriber.ts
  examples/amqp/tsconfig.json
  examples/api-entity-manipulation/src/index.ts
  examples/api-entity-manipulation/tsconfig.json
  examples/api-express/src/api/customer/customer.controller.ts
  examples/api-express/src/index.ts
  examples/api-express/src/interceptors/logInterceptor.ts
  examples/api-express/tsconfig.json
  examples/api-fastify/src/index.ts
  examples/api-fastify/tsconfig.json
  examples/api-mongoose/src/index.ts
  examples/api-mongoose/tsconfig.json
  packages/http-server/src/AjvValidator.ts
  packages/messaging-amqp/src/ChannelManager.ts
  packages/messaging-amqp/src/types.ts
Due: http-server, messaging-amqp

chore: examples tsconfig
  examples/amqp/tsconfig.json
  examples/api-entity-manipulation/tsconfig.json
  examples/api-express/tsconfig.json
  examples/api-fastify/tsconfig.json
  examples/api-mongoose/tsconfig.json
Due: none

chore: remove some ts-config and harcoded types
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/json/transformEntityDefinitionSchema.ts
  packages/core/src/immutable-set.d.ts
  packages/reflector/test/tsconfig.json
Due: core, reflector

fix: enable to re-init fastify
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: http-server, http-server-fastify

fix: create first fastify instance onRegister and createRoutes for openapi
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: http-server, http-server-fastify

Update packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: http-server, http-server-fastify

feat: rerun onRegister if module status is error or destroyed
  packages/core/src/App.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: core, http-server, http-server-fastify

fix: move register modules before init
  packages/core/src/App.ts
Due: core

test: execute onRegister if module destroyed
  packages/core/test/unit/App.test.ts
Due: core

refactor: run all the onRegister hooks before init
  packages/core/src/App.ts
Due: core

chore: moved code within try/catch
  packages/core/src/App.ts
Due: core

fix: use fastify instance passed in options
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: http-server, http-server-fastify

chore(release): publish [skip ci]
  examples/api-entity-manipulation/CHANGELOG.md
  examples/api-entity-manipulation/package-lock.json
  examples/api-entity-manipulation/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-fastify, openapi, health-checks

fix: use fastify options instance on re-init
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: http-server, http-server-fastify

fix: don't remove instance from moduleOptions
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
Due: http-server, http-server-fastify
