Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, reflector

chore: fastify as dev dependency
  packages/http-server-fastify/package.json
Due: http-server

feat(fastify): added ability to pass plugins
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-fastify/package.json
Due: core, http-server, http-server-express

fix: tests
  packages/core/src/App.ts
Due: core

chore: using fatal logger level in App
  packages/core/src/App.ts
Due: core

feat(logging): added logging options in App constructor
  examples/next-api-fastify/src/api/customer/customer.schema.ts
  packages/core/src/App.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: core, http-server, http-server-express

chore: dependencies cleanup for examples
  examples/next-api-fastify/package-lock.json
Due: none

chore: dependencies cleanup for examples #2
  examples/next-api-fastify/package-lock.json
Due: none

chore: README cleanup
  examples/next-api-fastify/src/README.md
Due: none

chore: removed signal code from App
  packages/core/src/App.ts
Due: core

feat(healthChecksModule): implemented health checks module
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/health-checks/README.md
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: core

feat: avoid double shutdown using status prop
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: core, http-server, http-server-express

chore: terminusOptions as optional
  packages/health-checks/src/HealthChecksModule.ts
Due: none

feat: allow passing terminus options
  packages/health-checks/src/HealthChecksModule.ts
Due: none

tests: increasing coverage
  packages/core/test/unit/App.test.ts
Due: core

[next] feat(lifecycle): added onRegister lifecycle hook for modules (#128)
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/http-server-express/src/ExpressHttpServer.ts
Due: core, http-server, http-server-express

feat(openapi): exposing openapi document endpoint
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: core

chore: sync with feat/next-core-http branch
  packages/core/src/App.ts
  packages/health-checks/README.md
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/src/index.ts
  packages/health-checks/src/types.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: core

feat(openapi): added ability to describe responses
  packages/openapi/src/OpenAPIModule.ts
Due: none

fix: final cleanup
  packages/openapi/src/OpenAPIModule.ts
Due: none

refactor(mongoose): basic refactoring
  packages/core/src/lib/async-utils.ts
  packages/core/test/unit/lib/async.test.ts
  packages/mongoose/.eslintignore
  packages/mongoose/.eslintrc
  packages/mongoose/.nycrc
  packages/mongoose/CHANGELOG.md
  packages/mongoose/README.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/src/createMongooseController.ts
  packages/mongoose/src/decorators/index.ts
  packages/mongoose/src/decorators/types.ts
  packages/mongoose/src/generateModel.ts
  packages/mongoose/src/hooks.ts
  packages/mongoose/src/index.ts
  packages/mongoose/src/types.ts
  packages/mongoose/test/mocha.opts
  packages/mongoose/test/support/chai.ts
  packages/mongoose/test/support/env.ts
  packages/mongoose/test/unit/.eslintrc
  packages/mongoose/test/unit/MongooseController.test.ts
  packages/mongoose/test/unit/MongooseModule.test.ts
  packages/mongoose/test/unit/decorators/index.test.ts
  packages/mongoose/test/unit/generateModel.test.ts
  packages/mongoose/test/unit/hooks.test.ts
  packages/mongoose/tsconfig.cjs.release.json
  packages/mongoose/tsconfig.esm.release.json
  packages/mongoose/tsconfig.json
  packages/reflector/test/unit/reflect.test.ts
Due: core, reflector

chore: rebased from next
  package-lock.json
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/reflector/package.json
  packages/reflector/test/unit/reflect.test.ts
Due: http-server, reflector

chore(deps)!: fix new mongoose version
  packages/mongoose/package.json
Due: none

chore(deps)!: fix mongoose new version
  packages/core/package.json
Due: core

chore(deps): update package-locks to avoid skipLibCheck
  package-lock.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  tsconfig.json
Due: core

Revert "chore(deps): update package-locks to avoid skipLibCheck"
  package-lock.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  tsconfig.json
Due: core

chore(deps): redo package-locks to fix build dependency problems
  examples/graphql/package-lock.json
  examples/rest-custom-ajv/package-lock.json
  examples/rest/package-lock.json
  package-lock.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/graphql/package-lock.json
  packages/graphql/src/decorators/index.ts
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/reflector/package-lock.json
Due: core, reflector

feat: added logging
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/src/createMongooseController.ts
  packages/mongoose/src/index.ts
Due: none

chore: force major release
  package.json
Due: none

chore(mongoose): upgraded mongoose dependency from v5 to v6
  packages/mongoose/README.md
Due: none

feat(mongoose): upgraded mongoose to v6, renamed context
  packages/mongoose/README.md
Due: none

chore(changelog): remove mongoose package 0.18.1 from changelog
  packages/mongoose/CHANGELOG.md
Due: none

chore(release): publish [skip ci]
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/CHANGELOG.md
  examples/rest/package-lock.json
  examples/rest/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: none

feat(mongoose): upgraded mongoose dependency from v5 to v6 and renamed context to davinciContext to avoid type collisions with mongoose context
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/package-lock.json
  examples/rest/package.json
  packages/core/package-lock.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: core

chore(release): publish [skip ci]
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/CHANGELOG.md
  examples/rest/package-lock.json
  examples/rest/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package-lock.json
  packages/graphql/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: core

feat(reflector): implemented walker
  examples/next-api-mongoose/README.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  examples/next-api-mongoose/src/api/customer/customer.controller.ts
  examples/next-api-mongoose/src/api/customer/customer.model.ts
  examples/next-api-mongoose/src/api/customer/customer.schema.ts
  examples/next-api-mongoose/src/api/customer/index.ts
  examples/next-api-mongoose/src/index.ts
  examples/next-api-mongoose/src/lib/createPartialEntity.ts
  examples/next-api-mongoose/src/types.ts
  examples/next-api-mongoose/tsconfig.json
  examples/next-api-mongoose/tsconfig.release.json
  packages/mongoose/package.json
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/src/decorators/index.ts
  packages/mongoose/src/decorators/types.ts
  packages/mongoose/src/generateModel.ts
  packages/reflector/package.json
  packages/reflector/src/index.ts
  packages/reflector/src/reflect.ts
  packages/reflector/src/walker.ts
  packages/reflector/test/unit/walker.tests.ts
Due: reflector

chore: cleanup
  packages/reflector/src/walker.ts
Due: reflector

chore(mongooseExample) bump @davinci/mongoose version
  examples/next-api-mongoose/package.json
Due: none

chore(mongooseExample) added missing mongoose dependency
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
Due: none

feat(generateSchema): reverted to previous signature
  examples/next-api-mongoose/README.md
  examples/next-api-mongoose/src/api/customer/customer.model.ts
  examples/next-api-mongoose/src/api/customer/customer.schema.ts
  packages/mongoose/package-lock.json
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: none

tests: increasing coverage
  packages/reflector/src/walker.ts
  packages/reflector/test/unit/walker.tests.ts
Due: reflector

Path conditions:
  core: any of: packages/core
  http-server: any of: packages/http-server
  http-server-express: any of: packages/http-server-express
  reflector: any of: packages/reflector
