Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      http-server-fastify:
          flags:
              - http-server-fastify
      openapi:
          flags:
              - openapi
      health-checks:
          flags:
              - health-checks
      mongoose:
          flags:
              - mongoose
      messaging-amqp:
          flags:
              - messaging-amqp
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  http-server-fastify:
      paths:
          - packages/http-server-fastify
      carryforward: true
  openapi:
      paths:
          - packages/openapi
      carryforward: true
  health-checks:
      paths:
          - packages/health-checks
      carryforward: true
  mongoose:
      paths:
          - packages/mongoose
      carryforward: true
  messaging-amqp:
      paths:
          - packages/messaging-amqp
      carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

fix: reverted typeKey change, as the solution was breaking nested schemas
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: mongoose

fit: revert mongoose typekey (#177)
  packages/core/src/entity/jsonSchemaTypes.ts
  packages/mongoose/src/decorators/types.ts
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: core, mongoose

chore(release): publish [skip ci]
  examples/amqp/CHANGELOG.md
  examples/amqp/package-lock.json
  examples/amqp/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp

feat: allow cors in middlewares options
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-express/src/ExpressHttpServer.ts
Due: http-server, http-server-express

chore(deps): move cors to peer and dev dependencies
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
Due: http-server, http-server-express

chore(release): publish [skip ci]
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express, openapi

feat: register ajv plugins on init for all ajv instances
  packages/http-server/src/AjvValidator.ts
Due: http-server

feat: added parameter that enables jsonified querystring parsing
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

fix: check plugins is not undefined before foreach
  packages/http-server/src/AjvValidator.ts
Due: http-server

feat: added parameter that enables jsonified querystring parsing (#180)
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

chore(release): publish [skip ci]
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express, http-server-fastify, openapi, health-checks

test: added tests for registerPlugins
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

fix: options can be undefined in registerPlugins
  packages/http-server/src/AjvValidator.ts
Due: http-server

chore: fix typo in readme (#175)
  packages/http-server-fastify/README.md
Due: http-server, http-server-fastify

BREAKING CHANGE: AjvValidator doesn't take ajv instances anymore. Only allows to pass ajv Options and initialize the instances internally
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

fix: register ajv plugins once per ajv instance
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

fix: do not check if addFormats plugin is duplicated
  packages/http-server/src/AjvValidator.ts
Due: http-server

fix: initializeInstances consider single options
  packages/http-server/src/AjvValidator.ts
Due: http-server

fix: register plugins for map was trying to add single plugins to instances not specified in the map
  packages/http-server/src/AjvValidator.ts
Due: http-server

test: added tests for AjvValidator with options and plugins maps
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

feat: remove support for passing ajv instances to AjvValidator
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

chore(example): add examples
  examples/amqp/package-lock.json
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-express/src/index.ts
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-fastify/src/index.ts
  examples/api-mongoose/package-lock.json
Due: none

chore(docs): document ajv validation
  docs/versioned_docs/version-2.x/modules/http-server/validation.md
Due: none

fix: no need to cast addErrors to any
  examples/api-express/src/index.ts
Due: none

fix(examples): bump ajv deps in examples to 8.11.2 to fix typescript problem with ajv plugin types
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-fastify/src/index.ts
Due: none

chore: small amendments
  docs/versioned_docs/version-2.x/modules/http-server/validation.md
  docs/versioned_sidebars/version-2.x-sidebars.json
  examples/api-express/src/index.ts
  examples/api-fastify/package-lock.json
  examples/api-fastify/src/index.ts
  packages/http-server/src/AjvValidator.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

chore(release): publish [skip ci]
  examples/amqp/CHANGELOG.md
  examples/amqp/package-lock.json
  examples/amqp/package.json
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express, http-server-fastify, openapi, health-checks

fix(openapi): http-server peerDependency
  packages/openapi/package.json
Due: openapi

fix(openapi): removed http-server from peerDependencies
  packages/openapi/package.json
Due: openapi

fix(openapi) removed http server from peerDependency (#185)
  packages/openapi/package.json
Due: openapi

chore(release): publish [skip ci]
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: openapi

fix(ajvValidator): initializing ajvInstances to empty object
  packages/http-server/src/AjvValidator.ts
Due: http-server

feat: added App `commands`, implemented `injectHttpRequest` command
  packages/core/src/App.ts
  packages/core/src/Module.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/http-server-express/package.json
  packages/http-server-express/src/ExpressHttpServer.ts
  packages/http-server-express/test/unit/ExpressHttpServer.test.ts
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/index.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: core, http-server, http-server-express, http-server-fastify

chore: added example tests
  examples/api-express/.mocharc.js
  examples/api-express/package.json
  examples/api-express/src/api/customer/customer.controller.ts
  examples/api-express/src/index.ts
  examples/api-express/test/.eslintrc
  examples/api-express/test/integration/Customer.tests.ts
  examples/api-express/test/support/chai.ts
  examples/api-fastify/.mocharc.js
  examples/api-fastify/package.json
  examples/api-fastify/src/api/customer/customer.controller.ts
  examples/api-fastify/src/index.ts
  examples/api-fastify/test/.eslintrc
  examples/api-fastify/test/integration/Customer.tests.ts
  examples/api-fastify/test/support/chai.ts
Due: none

chore: regenerated package-lock.json files
  examples/amqp/package-lock.json
  examples/api-express/package-lock.json
  examples/api-fastify/package-lock.json
  examples/api-mongoose/package-lock.json
  packages/core/package-lock.json
  packages/health-checks/package-lock.json
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/package-lock.json
  packages/http-server/package-lock.json
  packages/messaging-amqp/package-lock.json
  packages/messaging/package-lock.json
  packages/mongoose/package-lock.json
  packages/openapi/package-lock.json
  packages/reflector/package-lock.json
Due: core, http-server, http-server-express, http-server-fastify, openapi, health-checks, mongoose, messaging-amqp, reflector

chore(http-server): light-my-request as devDependency
  examples/api-fastify/src/index.ts
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/index.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

feat: allow multiple http method decorators
  packages/http-server/src/decorators/route.ts
Due: http-server
