Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

chore(release): publish [skip ci]
  examples/next-amqp/CHANGELOG.md
  examples/next-amqp/package-lock.json
  examples/next-amqp/package.json
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express

feat(openapi): added ability to specify default responses
  packages/http-server/src/decorators/types.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/src/types.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

feat(openapi): added ability to specify default responses (#154)
  packages/http-server/src/decorators/types.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/src/types.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express

feat(Amqp): provide ability to inject ChannelManager in controllers (#150)
  examples/next-amqp/src/subscribers/customer/customer.subscriber.ts
  packages/core/src/App.ts
  packages/core/test/unit/App.test.ts
  packages/health-checks/src/HealthChecksModule.ts
  packages/http-server/src/HttpServerModule.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/ChannelManager.ts
  packages/messaging-amqp/src/index.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: core, http-server

chore(release): publish [skip ci]
  examples/next-amqp/CHANGELOG.md
  examples/next-amqp/package-lock.json
  examples/next-amqp/package.json
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express

fix(mongoose): set typeKey schema option to '$type'
  packages/core/src/lib/object-utils.ts
  packages/core/test/unit/lib/object-utils.tests.ts
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: core

fix(mongoose): set typeKey schema option to '$type' (#155)
  packages/core/src/lib/object-utils.ts
  packages/core/test/unit/lib/object-utils.tests.ts
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: core

fix(httpServer): implemented missing response status functionality
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/decorators/types.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/src/types.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

chore: including response in the interceptors' bag
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

fix(httpServer): implemented missing response status functionality (#156)
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/decorators/types.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/src/types.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

fix: HttpRequestInterceptor, request is now optional
  packages/http-server/src/types.ts
Due: http-server

feat(agnosticRouter): working package
  package-lock.json
  package.json
  packages/http-agnostic-router/.eslintignore
  packages/http-agnostic-router/.eslintrc
  packages/http-agnostic-router/.nycrc
  packages/http-agnostic-router/README.md
  packages/http-agnostic-router/package-lock.json
  packages/http-agnostic-router/package.json
  packages/http-agnostic-router/src/AgnosticRouter.ts
  packages/http-agnostic-router/src/index.ts
  packages/http-agnostic-router/test/.eslintrc
  packages/http-agnostic-router/test/mocha.opts
  packages/http-agnostic-router/test/support/chai.ts
  packages/http-agnostic-router/test/unit/AgnosticRouter.test.ts
  packages/http-agnostic-router/tsconfig.cjs.release.json
  packages/http-agnostic-router/tsconfig.esm.release.json
  packages/http-agnostic-router/tsconfig.json
  packages/http-server/src/decorators/types.ts
Due: http-server

feat(agnosticRouter): implemented internal router
  examples/next-api-agnostic/README.md
  examples/next-api-agnostic/package-lock.json
  examples/next-api-agnostic/package.json
  examples/next-api-agnostic/src/api/customer/customer.controller.ts
  examples/next-api-agnostic/src/api/customer/customer.schema.ts
  examples/next-api-agnostic/src/api/customer/index.ts
  examples/next-api-agnostic/src/app.ts
  examples/next-api-agnostic/src/index.ts
  examples/next-api-agnostic/src/types.ts
  examples/next-api-agnostic/tsconfig.json
  examples/next-api-agnostic/tsconfig.release.json
  packages/http-agnostic-router/package-lock.json
  packages/http-agnostic-router/package.json
  packages/http-agnostic-router/src/AgnosticRouterModule.ts
  packages/http-agnostic-router/src/Router.ts
  packages/http-agnostic-router/src/augment.ts
  packages/http-agnostic-router/src/index.ts
  packages/http-agnostic-router/src/types.ts
  packages/http-agnostic-router/test/unit/AgnosticRouter.test.ts
  packages/http-agnostic-router/test/unit/Router.test.ts
Due: none

tests: added more tests
  packages/http-agnostic-router/src/AgnosticRouterModule.ts
  packages/http-agnostic-router/test/unit/Router.test.ts
  packages/openapi/src/OpenAPIModule.ts
Due: none

fix: registering catch all routes after app initialization
  packages/http-agnostic-router/src/AgnosticRouterModule.ts
  packages/http-agnostic-router/test/unit/AgnosticRouter.test.ts
Due: none

chore: added codecov config
  codecov.yml
Due: none

feat: configurable querystringParser
  packages/http-agnostic-router/package-lock.json
  packages/http-agnostic-router/package.json
  packages/http-agnostic-router/src/AgnosticRouterModule.ts
  packages/http-agnostic-router/src/Router.ts
Due: none

chore: removed unneeded dep
  packages/http-agnostic-router/package-lock.json
  packages/http-agnostic-router/package.json
Due: none

chore: simplified http interceptor bag generics
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

feat(entity): allow type override
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

feat(entity): allow type override (#158)
  packages/core/src/entity/EntityDefinition.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
Due: core

chore: added httpInterceptor examples
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-express/src/interceptors/logInterceptor.ts
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/interceptors/logInterceptor.ts
  packages/http-server/src/types.ts
Due: http-server

chore: next httpinterceptor types (#159)
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-express/src/interceptors/logInterceptor.ts
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/interceptors/logInterceptor.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
Due: http-server

chore(docs): version 0.x has been renamed to 1.x
  docs/docusaurus.config.js
  docs/static/1.x/images/basics/swagger-ui/swagger-ui-screenshot.png
  docs/versioned_docs/version-1.x/basics/context.md
  docs/versioned_docs/version-1.x/basics/controllers.md
  docs/versioned_docs/version-1.x/basics/directory-structure.md
  docs/versioned_docs/version-1.x/basics/getting-started.md
  docs/versioned_docs/version-1.x/basics/openapi-definitions.md
  docs/versioned_docs/version-1.x/basics/swagger-ui.md
  docs/versioned_docs/version-1.x/database/mongoose.md
  docs/versioned_docs/version-1.x/graphql/controllers.md
  docs/versioned_docs/version-1.x/graphql/getting-started.md
  docs/versioned_sidebars/version-1.x-sidebars.json
  docs/versions.json
Due: none

chore(docs): version 0.x has been renamed to 1.x (#160)
  docs/docusaurus.config.js
  docs/static/1.x/images/basics/swagger-ui/swagger-ui-screenshot.png
  docs/versioned_docs/version-1.x/basics/context.md
  docs/versioned_docs/version-1.x/basics/controllers.md
  docs/versioned_docs/version-1.x/basics/directory-structure.md
  docs/versioned_docs/version-1.x/basics/getting-started.md
  docs/versioned_docs/version-1.x/basics/openapi-definitions.md
  docs/versioned_docs/version-1.x/basics/swagger-ui.md
  docs/versioned_docs/version-1.x/database/mongoose.md
  docs/versioned_docs/version-1.x/graphql/controllers.md
  docs/versioned_docs/version-1.x/graphql/getting-started.md
  docs/versioned_sidebars/version-1.x-sidebars.json
  docs/versions.json
Due: none

fix(openapi): correctly format path parameters
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

fix(openapi): correctly format path parameters (#162)
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: none

fix(http-server-interceptor): route is optional
  packages/http-server/src/types.ts
Due: http-server

fix(openapi): correct dependency
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none
