Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

chore: trigger CI
  README.md
Due: none

Update Docs [skip ci]
  404.html
  assets/js/main.1ec64a8e.js
  assets/js/main.6691fb20.js
  assets/js/main.6691fb20.js.LICENSE.txt
  docs/1.x/basics/context.html
  docs/1.x/basics/controllers.html
  docs/1.x/basics/directory-structure.html
  docs/1.x/basics/getting-started.html
  docs/1.x/basics/openapi-definitions.html
  docs/1.x/basics/swagger-ui.html
  docs/1.x/database/mongoose.html
  docs/1.x/graphql/controllers.html
  docs/1.x/graphql/getting-started.html
  docs/2.x/basics/directory-structure.html
  docs/2.x/getting-started.html
  docs/2.x/graphql/controllers.html
  docs/2.x/graphql/getting-started.html
  docs/2.x/interceptors.html
  docs/2.x/intro.html
  docs/2.x/migration-from-v1.html
  docs/2.x/modules.html
  docs/2.x/modules/health-checks.html
  docs/2.x/modules/http-server/context.html
  docs/2.x/modules/http-server/controllers.html
  docs/2.x/modules/http-server/express.html
  docs/2.x/modules/http-server/fastify.html
  docs/2.x/modules/http-server/intro.html
  docs/2.x/modules/mongoose.html
  docs/2.x/modules/openapi.html
  index.html
Due: none

chore: cleanup before merging to master
  .circleci/config.yml
  package.json
Due: none

chore(core): missing pino devDep
  examples/api-fastify/package-lock.json
  examples/api-mongoose/package-lock.json
  packages/core/package.json
Due: core

docs: fixed typo
  docs/versioned_docs/version-2.x/graphql/controllers.md
Due: none

docs: removed unneeded char
  docs/versioned_docs/version-2.x/graphql/controllers.md
Due: none

feat: working on a prototype for easy query types generation (WIP)
  examples/amqp/tsconfig.json
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  examples/api-mongoose/src/api/customer/customer.controller.ts
  examples/api-mongoose/src/api/customer/customer.schema.ts
  examples/api-mongoose/src/index.ts
  examples/api-mongoose/src/lib/createWhereSchema.ts
  examples/api-mongoose/src/lib/withQuery.ts
  examples/api-mongoose/tsconfig.json
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/types.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/mongoose/package-lock.json
  packages/openapi/src/OpenAPIModule.ts
  packages/reflector/src/walker.ts
Due: core, http-server, reflector

chore(api-webpack-bundle): example of Webpack bundle + DaVinci API
  examples/amqp/package-lock.json
  examples/amqp/package.json
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  examples/api-webpack-bundle/.gitignore
  examples/api-webpack-bundle/README.md
  examples/api-webpack-bundle/package-lock.json
  examples/api-webpack-bundle/package.json
  examples/api-webpack-bundle/src/api/customer/customer.controller.ts
  examples/api-webpack-bundle/src/api/customer/customer.schema.ts
  examples/api-webpack-bundle/src/api/customer/index.ts
  examples/api-webpack-bundle/src/index.ts
  examples/api-webpack-bundle/src/interceptors/logInterceptor.ts
  examples/api-webpack-bundle/src/types.ts
  examples/api-webpack-bundle/tsconfig.json
  examples/api-webpack-bundle/tsconfig.release.json
  examples/api-webpack-bundle/webpack.config.ts
Due: none

fix: renamed to EntityRegistry.getEntityDefinitionJsonSchema
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/types.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/openapi/src/OpenAPIModule.ts
Due: core, http-server

fix: correct return type
  packages/core/src/entity/EntityDefinition.ts
Due: core

fix: more function calls renaming
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/test/unit/entity/EntityDefinition.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/openapi/src/OpenAPIModule.ts
Due: core, http-server

feat: added mutable example of json schema traversing
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/jsonSchemaTraverse.ts
  packages/core/src/lib/object-utils.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/core/test/unit/lib/object-utils.tests.ts
Due: core

feat: now immutable
  packages/core/src/entity/EntityRegistry.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
Due: core

feat: allowing @mgoose.virtual on class properties
  packages/mongoose/src/decorators/index.ts
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: none

feat: allowing @mgoose.virtual on class properties (#171)
  packages/mongoose/src/decorators/index.ts
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: none

chore(release): publish [skip ci]
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: none

feat: fully working entityDefinitionSchemaTransform
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/entity/EntityDefinition.ts
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/types.ts
  packages/core/src/lib/object-utils.ts
  packages/core/test/unit/entity/EntityRegistry.tests.ts
  packages/core/test/unit/lib/object-utils.tests.ts
  packages/http-server/src/AjvValidator.ts
  packages/openapi/src/OpenAPIModule.ts
Due: core, http-server

chore: refinements
  packages/core/src/entity/EntityRegistry.ts
  packages/http-server/src/AjvValidator.ts
  packages/openapi/src/OpenAPIModule.ts
Due: core, http-server

refactor: enhanced JSONSchemaTraverser syntax
  packages/core/src/entity/EntityRegistry.ts
  packages/core/src/entity/JSONSchemaTraverser.ts
  packages/core/src/entity/jsonSchemaTraverse.ts
  packages/core/src/entity/types.ts
  packages/core/test/unit/entity/JSONSchemaTraverser.tests.ts
Due: core

fix: tests, amended versions
  packages/http-agnostic-router/package-lock.json
  packages/http-agnostic-router/package.json
  packages/http-agnostic-router/test/unit/AgnosticRouter.test.ts
Due: none

chore: added codecov configuration
  codecov.yml
Due: none

chore: added example
  examples/api-agnostic/README.md
  examples/api-agnostic/package-lock.json
  examples/api-agnostic/package.json
  examples/api-agnostic/src/api/customer/customer.controller.ts
  examples/api-agnostic/src/api/customer/customer.schema.ts
  examples/api-agnostic/src/api/customer/index.ts
  examples/api-agnostic/src/app.ts
  examples/api-agnostic/src/index.ts
  examples/api-agnostic/src/types.ts
  examples/api-agnostic/tsconfig.json
  examples/api-agnostic/tsconfig.release.json
  packages/openapi/src/OpenAPIModule.ts
Due: none

chore: loose type for globalInterceptors
  packages/http-server/src/types.ts
Due: http-server

feat: added route lookup cache mechanism
  packages/http-agnostic-router/package-lock.json
  packages/http-agnostic-router/package.json
  packages/http-agnostic-router/src/Router.ts
  packages/http-agnostic-router/src/types.ts
  packages/http-agnostic-router/test/unit/Router.test.ts
Due: none

fix: fastify listen host set to 0.0.0.0
  packages/http-server-fastify/src/FastifyHttpServer.ts
Due: http-server

test: fixed
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

fix: fastify listen host set to 0.0.0.0 (#174)
  packages/http-server-fastify/src/FastifyHttpServer.ts
  packages/http-server-fastify/test/unit/FastifyHttpServer.test.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

chore(release): publish [skip ci]
  examples/api-express/CHANGELOG.md
  examples/api-express/package-lock.json
  examples/api-express/package.json
  examples/api-fastify/CHANGELOG.md
  examples/api-fastify/package-lock.json
  examples/api-fastify/package.json
  examples/api-mongoose/CHANGELOG.md
  examples/api-mongoose/package-lock.json
  examples/api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server

chore: fix typo in readme
  packages/http-server-fastify/README.md
Due: http-server

tests: added more routing tests
  packages/http-agnostic-router/src/Router.ts
  packages/http-agnostic-router/test/unit/Router.test.ts
Due: none

fix: improve TS code completion in mgoose and entity '.prop()' decorators
  packages/core/src/entity/jsonSchemaTypes.ts
  packages/mongoose/src/decorators/types.ts
Due: core
