Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql, mongoose, reflector

chore: configure carryforward on codecov
  codecov.yml
Due: none

chore: add explicit Decorator return types
  packages/core/src/express/decorators/context.ts
  packages/core/src/express/decorators/express.ts
  packages/core/src/route/decorators/openapi.ts
  packages/core/src/route/decorators/route.ts
  packages/core/test/unit/route/createRouter.test.ts
  packages/graphql/src/decorators/index.ts
Due: core, graphql

fix: correct fieldResolver to be a MethodDecorator
  packages/graphql/src/decorators/index.ts
  packages/graphql/src/generateSchema.ts
  packages/graphql/src/types.ts
Due: graphql

fix: express middleware decorator signature
  packages/core/src/express/decorators/express.ts
Due: core

chore: added mongoose decorator types
  packages/mongoose/src/decorators/index.ts
Due: mongoose

fix: duplicate check on fieldResolver (+ tests)
  packages/graphql/src/decorators/index.ts
  packages/graphql/test/unit/decorators/index.test.ts
Due: graphql

test: added tests for duplicate decorators
  packages/core/test/unit/express/decorators/context.test.ts
  packages/core/test/unit/express/decorators/express.test.ts
  packages/graphql/src/decorators/index.ts
Due: core, graphql

chore: fixed a typo
  packages/graphql/test/unit/decorators/index.test.ts
Due: graphql

fix: throw when defining a fieldResolver twice
  packages/graphql/src/decorators/index.ts
  packages/graphql/test/unit/decorators/index.test.ts
Due: graphql

test: refactor to remove class from try/catch
  packages/graphql/test/unit/decorators/index.test.ts
Due: graphql

chore(release): publish [skip ci]
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest/CHANGELOG.md
  examples/rest/package-lock.json
  examples/rest/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package-lock.json
  packages/graphql/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: core, graphql, mongoose

test: added tests for validating generated paths
  packages/core/test/unit/route/createRouter.test.ts
Due: core

fix: correctly handle controllers with no basepath
  packages/core/src/route/createRouter.ts
  packages/core/test/unit/route/createRouter.test.ts
Due: core

fix: default basepath to / instead of resource name
  packages/core/src/route/createRouter.ts
  packages/core/src/route/openapi/openapiDocs.ts
  packages/core/test/unit/route/createRouter.test.ts
Due: core

fix: handle one more edge case with / basepath
  packages/core/src/route/openapi/openapiDocs.ts
  packages/core/test/unit/route/openapi/openapiDocs.test.ts
Due: core

chore: test against MongoDB 5.0 in CI/CD
  .circleci/config.yml
Due: none

fix: allow multiple populates
  packages/mongoose/src/createMongooseController.ts
Due: mongoose

refactor: remove rawSchemaOptions
  packages/mongoose/src/createMongooseController.ts
Due: mongoose

fix: use url join instead path join to fix OS coupled api paths
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/route/createRouter.ts
  packages/mongoose/package-lock.json
Due: core, mongoose

fix: open generate swagger use the same urlJoin library
  packages/core/src/route/openapi/openapiDocs.ts
Due: core

restore mongose package lock
  packages/mongoose/package-lock.json
Due: mongoose

feat: davinci with https support
  packages/core/src/createApp.ts
  packages/core/test/unit/createApp.test.ts
Due: core

use fake certs for testing
  packages/core/test/unit/createApp.test.ts
Due: core

update DaVinciTlsOptions type
  packages/core/src/createApp.ts
Due: core

Update createApp.test.ts
  packages/core/test/unit/createApp.test.ts
Due: core

refactor: export certs outsite unit tests
  packages/core/test/support/certs.ts
  packages/core/test/unit/createApp.test.ts
Due: core

refactor: fix pr comments
  packages/core/src/createApp.ts
Due: core

fix unit tests
  packages/core/test/unit/createApp.test.ts
Due: core

refactor: review cert &key
  packages/core/src/createApp.ts
  packages/core/test/unit/createApp.test.ts
Due: core

feat: adding port configuration on davinci options
  packages/core/src/createApp.ts
Due: core

adding test for port configuration
  packages/core/test/unit/createApp.test.ts
Due: core

chaging port attribute type, to number only
  packages/core/src/createApp.ts
Due: core

change unit test description
  packages/core/test/unit/createApp.test.ts
Due: core

feat: added ajv instance and schema caching
  packages/core/src/route/createRouter.ts
  packages/core/test/unit/route/createRouter.test.ts
Due: core

Path conditions:
  core: any of: packages/core
  graphql: any of: packages/graphql
  mongoose: any of: packages/mongoose
  reflector: any of: packages/reflector
