Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, reflector

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      core:
        flags:
          - core
      http-server:
        flags:
          - http-server
      http-server-express:
        flags:
          - http-server-express
      reflector:
          flags:
              - reflector

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  core:
    paths:
      - packages/core
    carryforward: true
  http-server:
    paths:
      - packages/http-server
    carryforward: true
  http-server-express:
    paths:
      - packages/http-server-express
    carryforward: true
  reflector:
    paths:
      - packages/reflector
    carryforward: true

chore: added interceptors, openapi, mongoose pages
  docs/.vuepress/config.js
  docs/.vuepress/public/images/basics/swagger-ui/swagger-ui-screenshot.png
  docs/.vuepress/public/images/logo.svg
  docs/.vuepress/public/manifest.json
  docs/.vuepress/styles/index.styl
  docs/README.md
  docs/deploy.sh
  docs/guide/README.md
  docs/guide/basics/context.md
  docs/guide/basics/controllers.md
  docs/guide/basics/directory-structure.md
  docs/guide/basics/openapi-definitions.md
  docs/guide/basics/swagger-ui.md
  docs/guide/graphql/controllers.md
  docs/guide/graphql/getting-started.md
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  website/docs/basics/openapi-definitions.md
  website/docs/basics/swagger-ui.md
  website/docs/database/mongoose.md
  website/docs/getting-started.md
  website/docs/graphql/getting-started.md
  website/docs/interceptors.md
  website/docs/modules/mongoose/mongoose.md
  website/docs/modules/openapi/openapi.md
  website/sidebars.js
  website/src/css/custom.css
Due: http-server

fix: peer dependency version issue
  packages/openapi/package.json
Due: none

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: none

chore: added publishConfig access public
  packages/core/package.json
  packages/health-checks/package.json
  packages/http-server-express/package.json
  packages/http-server-fastify/package.json
  packages/http-server/package.json
  packages/messaging-amqp/package.json
  packages/messaging/package.json
  packages/mongoose/package.json
  packages/openapi/package.json
  packages/reflector/package.json
Due: core, http-server, http-server-express, reflector

chore: added next as prerelease tag
  examples/next-amqp/package.json
  examples/next-api-express/package.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/package.json
  packages/core/package.json
  packages/health-checks/package.json
  packages/http-server-express/package.json
  packages/http-server-fastify/package.json
  packages/http-server/package.json
  packages/messaging-amqp/package.json
  packages/messaging/package-lock.json
  packages/messaging/package.json
  packages/mongoose/package.json
  packages/openapi/package.json
  packages/reflector/package.json
Due: core, http-server, http-server-express, reflector

feat(interceptors): standardized usage, added specific types
  examples/next-amqp/src/interceptors/newrelic.ts
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  packages/core/src/interceptor/decorator.ts
  packages/core/src/interceptor/interceptor.ts
  packages/core/src/interceptor/types.ts
  packages/core/test/unit/interceptor/interceptor.test.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/types.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: core, http-server

fix(healthChecks): allowing multiple decorators
  packages/health-checks/src/decorators/index.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
  packages/health-checks/test/unit/decorators.test.ts
Due: none

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
Due: none

feat(openapi): renamed tags and hidden props
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: none

fix: publish script
  .circleci/config.yml
Due: none

feat(migration): added migration guide
  website/docs/interceptors.md
  website/docs/migration-from-v1.md
  website/sidebars.js
Due: none

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: http-server, http-server-express

fix(fastify): missing dev dependencies #2
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
Due: http-server

fix(openapi): dependency
  packages/openapi/package.json
Due: none

chore: reverted changes to changelogs
  examples/next-amqp/CHANGELOG.md
  examples/next-api-express/CHANGELOG.md
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-mongoose/CHANGELOG.md
  packages/health-checks/CHANGELOG.md
  packages/http-server-express/CHANGELOG.md
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server/CHANGELOG.md
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging/CHANGELOG.md
  packages/mongoose/CHANGELOG.md
  packages/openapi/CHANGELOG.md
  packages/reflector/CHANGELOG.md
Due: http-server, http-server-express, reflector

feat(openapi): added tags to OpenAPI document
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
  packages/openapi/src/OpenAPIModule.ts
  packages/openapi/src/index.ts
  packages/openapi/test/unit/OpenAPIModule.test.ts
Due: http-server

chore: added pre-release publish npm command
  package.json
Due: none

fix: test
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: none

feat(httpServer): contextFactory as module option
  examples/next-api-express/src/index.ts
  examples/next-api-fastify/src/index.ts
  examples/next-api-mongoose/src/index.ts
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/src/types.ts
Due: http-server

fix(fastify): missing dev dependencies #3
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/package.json
Due: http-server, http-server-express

chore(release): publish [skip ci]
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
Due: none

chore(release): publish [skip ci]
  examples/next-amqp/CHANGELOG.md
  examples/next-amqp/package-lock.json
  examples/next-amqp/package.json
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/CHANGELOG.md
  examples/next-api-mongoose/package-lock.json
  examples/next-api-mongoose/package.json
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/health-checks/CHANGELOG.md
  packages/health-checks/package-lock.json
  packages/health-checks/package.json
  packages/http-server-express/CHANGELOG.md
  packages/http-server-express/package-lock.json
  packages/http-server-express/package.json
  packages/http-server-fastify/CHANGELOG.md
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
  packages/http-server/CHANGELOG.md
  packages/http-server/package-lock.json
  packages/http-server/package.json
  packages/messaging-amqp/CHANGELOG.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/mongoose/CHANGELOG.md
  packages/mongoose/package-lock.json
  packages/mongoose/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: core, http-server, http-server-express

fix(healthChecks): a method can be used for multiple checks
  packages/health-checks/src/HealthChecksModule.ts
  packages/health-checks/test/unit/HealthChecksModule.test.ts
Due: none

feat(CI): added logic to publish the `next` tag
  .circleci/config.yml
Due: none

fix(fastify): missing dev dependencies
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
Due: http-server

feat: injecting `context` additionally to the deprecated `davinciContext` in hooks
  packages/mongoose/src/hooks.ts
  packages/mongoose/src/index.ts
  packages/mongoose/test/unit/hooks.test.ts
Due: none

chore: missing functionalities after rebasing
  examples/next-amqp/src/index.ts
  examples/next-amqp/src/subscribers/customer/customer.subscriber.ts
  packages/core/src/App.ts
  packages/messaging-amqp/src/index.ts
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/src/generateModel.ts
  packages/mongoose/test/unit/MongooseModule.test.ts
  packages/mongoose/test/unit/generateModel.test.ts
Due: core

feat: renamed HttpModule to HttpServerModule, ExpressHttpModule to ExpressHttpServer
  packages/http-express/.eslintignore
  packages/http-express/.eslintrc
  packages/http-express/.nycrc
  packages/http-express/README.md
  packages/http-express/package-lock.json
  packages/http-express/package.json
  packages/http-express/src/ExpressHttpModule.ts
  packages/http-express/test/.eslintrc
  packages/http-express/test/mocha.opts
  packages/http-express/test/unit/ExpressHttpModule.test.ts
  packages/http-express/tsconfig.cjs.release.json
  packages/http-express/tsconfig.esm.release.json
  packages/http-express/tsconfig.json
  packages/http/.eslintignore
  packages/http/.eslintrc
  packages/http/.nycrc
  packages/http/README.md
  packages/http/package-lock.json
  packages/http/package.json
  packages/http/src/HttpModule.ts
  packages/http/src/index.ts
  packages/http/src/types.ts
  packages/http/test/.eslintrc
  packages/http/test/mocha.opts
  packages/http/tsconfig.cjs.release.json
  packages/http/tsconfig.esm.release.json
  packages/http/tsconfig.json
Due: none

chore: removed tests
  packages/http/test/support/boot/dbConnection.ts
  packages/http/test/support/boot/invalidBootScript.ts
  packages/http/test/support/certs.ts
  packages/http/test/support/createAppInstance.ts
  packages/http/test/support/env.ts
  packages/http/test/support/test.def.ts
Due: none

feat: from scratch: core, http, http-express
  packages/core/src/lib/async.ts
  packages/http-express/.eslintignore
  packages/http-express/.eslintrc
  packages/http-express/.nycrc
  packages/http-express/README.md
  packages/http-express/package-lock.json
  packages/http-express/package.json
  packages/http-express/src/ExpressHttpModule.ts
  packages/http-express/test/.eslintrc
  packages/http-express/test/mocha.opts
  packages/http-express/test/unit/ExpressHttpModule.test.ts
  packages/http-express/tsconfig.cjs.release.json
  packages/http-express/tsconfig.esm.release.json
  packages/http-express/tsconfig.json
  packages/http/.eslintignore
  packages/http/.eslintrc
  packages/http/.nycrc
  packages/http/README.md
  packages/http/package-lock.json
  packages/http/package.json
  packages/http/src/HttpModule.ts
  packages/http/src/index.ts
  packages/http/src/types.ts
  packages/http/test/.eslintrc
  packages/http/test/mocha.opts
  packages/http/test/support/boot/dbConnection.ts
  packages/http/test/support/boot/invalidBootScript.ts
  packages/http/test/support/certs.ts
  packages/http/test/support/createAppInstance.ts
  packages/http/test/support/env.ts
  packages/http/test/support/test.def.ts
  packages/http/tsconfig.cjs.release.json
  packages/http/tsconfig.esm.release.json
  packages/http/tsconfig.json
Due: core

feat: using modules identifiers
  packages/core/src/lib/async.ts
Due: core
