Repository HPInc/davinci: changes, and which Codecov flags are due for each by the changed paths.
All: core, http-server, http-server-express, reflector

feat(mongoose): added onDestroy hook
  packages/core/src/App.ts
  packages/core/test/unit/App.test.ts
  packages/mongoose/src/MongooseModule.ts
  packages/mongoose/test/unit/MongooseModule.test.ts
Due: core

fix: tests
  packages/mongoose/test/unit/MongooseModule.test.ts
Due: none

feat(messagingAmqp): implemented basic AmqpModule version
  .circleci/config.yml
  examples/next-amqp/README.md
  examples/next-amqp/package-lock.json
  examples/next-amqp/package.json
  examples/next-amqp/src/index.ts
  examples/next-amqp/src/interceptors/newrelic.ts
  examples/next-amqp/src/subscribers/customer/customer.schema.ts
  examples/next-amqp/src/subscribers/customer/customer.subscriber.ts
  examples/next-amqp/src/subscribers/customer/index.ts
  examples/next-amqp/src/types.ts
  examples/next-amqp/tsconfig.json
  examples/next-amqp/tsconfig.release.json
  packages/messaging-amqp/.eslintignore
  packages/messaging-amqp/.eslintrc
  packages/messaging-amqp/.nycrc
  packages/messaging-amqp/README.md
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/decorators/index.ts
  packages/messaging-amqp/src/decorators/types.ts
  packages/messaging-amqp/src/index.ts
  packages/messaging-amqp/src/types.ts
  packages/messaging-amqp/test/integration/.eslintrc
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
  packages/messaging-amqp/test/mocha.opts
  packages/messaging-amqp/test/support/chai.ts
  packages/messaging-amqp/test/support/env.ts
  packages/messaging-amqp/tsconfig.cjs.release.json
  packages/messaging-amqp/tsconfig.esm.release.json
  packages/messaging-amqp/tsconfig.json
  packages/reflector/src/shared-types.ts
Due: reflector

fix: rabbimq docker image name
  .circleci/config.yml
Due: none

chore: removed unneeded dependency and comment
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/messaging-amqp/src/AmqpModule.ts
Due: none

chore: changed codecov configuration
  codecov.yml
Due: none

chore: added missing packages to codecov config
  codecov.yml
Due: none

chore: example cleanup
  examples/next-amqp/src/subscribers/customer/customer.subscriber.ts
Due: none

feat(validation): disable validation option for route parameter
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/decorators/types.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

fix: tests
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

feat(openapi): ability to hide endpoint
  packages/http-server/src/decorators/types.ts
  packages/openapi/src/index.ts
Due: http-server

[next] feat(httpServer): option to disable validation (#144)
  packages/http-server/src/AjvValidator.ts
  packages/http-server/src/decorators/types.ts
  packages/http-server/test/unit/AjvValidator.test.ts
Due: http-server

feat(amqp): added graceful shutdown strategies
  examples/next-amqp/src/index.ts
  examples/next-amqp/src/interceptors/newrelic.ts
  packages/core/src/lib/async-utils.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/types.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: core

feat(amqp): added logic to reuse channels
  packages/messaging-amqp/package-lock.json
  packages/messaging-amqp/package.json
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: none

chore: added interceptors, openapi, mongoose pages
  docs/.vuepress/config.js
  docs/.vuepress/public/images/basics/swagger-ui/swagger-ui-screenshot.png
  docs/.vuepress/public/images/logo.svg
  docs/.vuepress/public/manifest.json
  docs/.vuepress/styles/index.styl
  docs/README.md
  docs/deploy.sh
  docs/guide/README.md
  docs/guide/basics/context.md
  docs/guide/basics/controllers.md
  docs/guide/basics/directory-structure.md
  docs/guide/basics/openapi-definitions.md
  docs/guide/basics/swagger-ui.md
  docs/guide/graphql/controllers.md
  docs/guide/graphql/getting-started.md
  packages/http-server/src/HttpServerModule.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  website/docs/basics/openapi-definitions.md
  website/docs/basics/swagger-ui.md
  website/docs/database/mongoose.md
  website/docs/getting-started.md
  website/docs/graphql/getting-started.md
  website/docs/interceptors.md
  website/docs/modules/mongoose/mongoose.md
  website/docs/modules/openapi/openapi.md
  website/sidebars.js
  website/src/css/custom.css
Due: http-server

chore: added health-checks
  website/blog/2019-05-28-first-blog-post.md
  website/blog/2019-05-29-long-blog-post.md
  website/blog/2021-08-01-mdx-blog-post.mdx
  website/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  website/blog/2021-08-26-welcome/index.md
  website/blog/authors.yml
  website/docs/modules/health-checks/health-checks.md
  website/docs/modules/mongoose/mongoose.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/components/HomepageFeatures/index.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/src/pages/markdown-page.md
  website/static/img/docusaurus.png
  website/static/img/favicon.ico
  website/static/img/undraw_docusaurus_mountain.svg
  website/static/img/undraw_docusaurus_react.svg
  website/static/img/undraw_docusaurus_tree.svg
Due: none

chore: deleted commented test file
  packages/mongoose/test/unit/MongooseController.test.ts
Due: none

chore: updated readme
  examples/next-amqp/README.md
Due: none

chore: renamed decorators to camelCase
  examples/next-amqp/src/subscribers/customer/customer.subscriber.ts
  packages/messaging-amqp/src/decorators/index.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: none

Delete MongooseController.test.ts
  packages/mongoose/test/unit/MongooseController.test.ts
Due: none

feat(messaging): added generic messaging package
  examples/next-amqp/package.json
  examples/next-amqp/src/subscribers/customer/customer.subscriber.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/decorators/types.ts
  packages/messaging-amqp/src/index.ts
  packages/messaging-amqp/src/types.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
  packages/messaging/.eslintignore
  packages/messaging/.eslintrc
  packages/messaging/.nycrc
  packages/messaging/README.md
  packages/messaging/package-lock.json
  packages/messaging/package.json
  packages/messaging/src/decorators/index.ts
  packages/messaging/src/index.ts
  packages/messaging/src/types.ts
  packages/messaging/test/mocha.opts
  packages/messaging/test/support/chai.ts
  packages/messaging/test/support/env.ts
  packages/messaging/tsconfig.cjs.release.json
  packages/messaging/tsconfig.esm.release.json
  packages/messaging/tsconfig.json
Due: none

fix: default settings merging
  packages/messaging-amqp/src/AmqpModule.ts
Due: none

fix: nyc failure workaround
  packages/messaging-amqp/src/AmqpModule.ts
Due: none

feat: added ability to specify AmqpConnectionManagerOptions
  examples/next-amqp/src/index.ts
  packages/messaging-amqp/src/AmqpModule.ts
Due: none

chore: removing old examples
  examples/graphql/CHANGELOG.md
  examples/graphql/package-lock.json
  examples/graphql/package.json
  examples/graphql/src/api/author/author.controller.ts
  examples/graphql/src/api/author/author.model.ts
  examples/graphql/src/api/author/author.schema.ts
  examples/graphql/src/api/book/book.controller.ts
  examples/graphql/src/api/book/book.model.ts
  examples/graphql/src/api/book/book.schema.ts
  examples/graphql/src/api/index.ts
  examples/graphql/src/boot/dbConnection.ts
  examples/graphql/src/index.ts
  examples/graphql/src/lib/schemaUtils.ts
  examples/graphql/src/types.ts
  examples/graphql/tsconfig.release.json
  examples/rest-custom-ajv/CHANGELOG.md
  examples/rest-custom-ajv/package-lock.json
  examples/rest-custom-ajv/package.json
  examples/rest-custom-ajv/src/api/customer/customer.controller.ts
  examples/rest-custom-ajv/src/api/customer/customer.model.ts
  examples/rest-custom-ajv/src/api/customer/customer.schema.ts
  examples/rest-custom-ajv/src/api/customer/index.ts
  examples/rest-custom-ajv/src/boot/dbConnection.ts
  examples/rest-custom-ajv/src/index.ts
  examples/rest-custom-ajv/src/types.ts
  examples/rest-custom-ajv/tsconfig.json
  examples/rest-custom-ajv/tsconfig.release.json
Due: none

refactor: converted object dictionaries to maps
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: none

feat: added the ability to provide a ChannelManager implementation
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/ChannelManager.ts
Due: none

fix: removed unneeded files
  packages/messaging-amqp/src/decorators/index.ts
  packages/messaging-amqp/src/decorators/types.ts
  packages/mongoose/test/unit/MongooseController.test.ts
Due: none

chore: added next as prerelease tag
  examples/next-amqp/package.json
  examples/next-api-express/package.json
  examples/next-api-fastify/package.json
  examples/next-api-mongoose/package.json
  packages/core/package.json
  packages/health-checks/package.json
  packages/http-server-express/package.json
  packages/http-server-fastify/package.json
  packages/http-server/package.json
  packages/messaging-amqp/package.json
  packages/messaging/package-lock.json
  packages/messaging/package.json
  packages/mongoose/package.json
  packages/openapi/package.json
  packages/reflector/package.json
Due: core, http-server, http-server-express, reflector

chore: added publishConfig access public
  packages/core/package.json
  packages/health-checks/package.json
  packages/http-server-express/package.json
  packages/http-server-fastify/package.json
  packages/http-server/package.json
  packages/messaging-amqp/package.json
  packages/messaging/package.json
  packages/mongoose/package.json
  packages/openapi/package.json
  packages/reflector/package.json
Due: core, http-server, http-server-express, reflector

fix: peer dependency version issue
  packages/openapi/package.json
Due: none

chore(release): publish [skip ci]
  examples/next-api-express/CHANGELOG.md
  examples/next-api-express/package-lock.json
  examples/next-api-express/package.json
  examples/next-api-fastify/CHANGELOG.md
  examples/next-api-fastify/package-lock.json
  examples/next-api-fastify/package.json
  packages/openapi/CHANGELOG.md
  packages/openapi/package-lock.json
  packages/openapi/package.json
Due: none

feat(interceptors): standardized usage, added specific types
  examples/next-amqp/src/interceptors/newrelic.ts
  examples/next-api-express/src/api/customer/customer.controller.ts
  examples/next-api-fastify/src/api/customer/customer.controller.ts
  packages/core/src/interceptor/decorator.ts
  packages/core/src/interceptor/interceptor.ts
  packages/core/src/interceptor/types.ts
  packages/core/test/unit/interceptor/interceptor.test.ts
  packages/http-server/src/types.ts
  packages/http-server/test/unit/HttpServerModule.test.ts
  packages/messaging-amqp/src/AmqpModule.ts
  packages/messaging-amqp/src/types.ts
  packages/messaging-amqp/test/integration/AmqpModule.test.ts
Due: core, http-server

fix(fastify): missing dev dependencies
  packages/http-server-fastify/package-lock.json
  packages/http-server-fastify/package.json
Due: http-server

Path conditions:
  core: any of: packages/core
  http-server: any of: packages/http-server
  http-server-express: any of: packages/http-server-express
  reflector: any of: packages/reflector
